@charset "utf-8";
/* CSS Document */
.logo img {
	border:#fff solid thin;
}
.top_bg {
    background-image: url("../Images/box_image_top.png")!important;
	background-repeat:no-repeat;
}
.mid_bg {
    background-image: url("../Images/box_image_center.png")!important;
    margin-top: -41px;
    min-height: 220px!important;
    width: 100%;
}
.bottom_bg {
    background-image: url("../Images/box_image_bottom.png")!important;
	background-repeat:no-repeat;
	margin:-14px 0 0 0;
}

.contact_banner {
    background-image: url("../Images/contact_us_image1.png")!important;
    min-height: 440px;
    width: 100%;
}

.frm_fld input{
	padding:12px 0 0 4px!important;
	height:28px!important;
	}
.noti_inner {
    width: 23%;
}

.noti_inner img {
	border:1px solid #fff;
}

.pdf_name img {
	border:1px solid #fff;
}
.pdf_name li {
	width:85px;
}

.cf {
    height: 23px!important;
    padding: 10px 0 0 36px !important;
}

.sidebar > li a {
    background-image: url("../Images/create-folder%20image1.png") ;
	background-repeat:no-repeat;
}

.n_aroow > img {
	border:none;
}