@charset "utf-8";
/* CSS Document */


.logo img {
	border:#fff solid thin;
}
.bottom_bg {
	margin:-14px 0 0 0;
}

.noti_inner {
    width: 23%;
}

.noti_inner img {
	border:1px solid #fff;
}

.pdf_name img {
	border:1px solid #fff;
}
.n_aroow > img {
	border:none;
}