.about_content .rgt {
    float: right;
    margin: 0 19px 0 0;
    width: 71%;
}

/*  Blog  */


.blog_part {
    border-bottom: 1px solid #CCCCCC;
    padding: 25px 10px;
}

.sub_footer {
    padding: 10px 0 10px 6px;
}


.sub_footer .rgt {
    margin: 0 13px 0 0;
    width: 26%;
}
/*.content .one_third{ width:31%}*/
.top_bg{ background-size:contain}
/*.mid_bg{background-size:contain}*/
/*.bottom_bg{background-size:contain}*/

/*  Contact Us */
.field_part {
    margin: 30px 0 6px 90px;
}

.submit {
    margin: 14px 0 50px 90px;
}
.contact_banner {
    
    min-height: 333px;
}

/*  My Friend */

.create_folder_wrap {
    padding: 0 10px;
}

/*  My Message */
.send {
    margin: 10px 0 0 20px;
}

/*  My Upload */
.upload_content {
    width: 55%;
}

/* Security  */


.reset_btn {
    margin: 0 0 0 85px;
}

/*-premium---*/
.prem_rgt {
    top: 15px;}
.content {
    width: 97%;
    margin-left: 13px;}

.last_cont {
    width: 81%;
}

/*.mid_bg {
   
    margin-top: -43px;
    min-height: 220px;
    width: 100%;
}*/
.fn_btn1_dev{ width:80%; margin-left:0px}
.bnr_rgt{ right:7px}
.abstor img{ width:80%; float:right}