
.logo {
    margin: 10px 0 0;
    text-align: center;
    width: 95%;
}

.navigation {
    width: 48%;
}

.nav li a {
    font-size: 13px;
    margin: 0 0 0 9px;
}
.login_sign li{margin: 0 4px 0 0;}
.nav {
    margin: 16px 0 0;
}

.login_sign {
    float: right;
    margin: 15px 0 11px;
    width: 52%; 
}
.login_sign a{ font-size:13px;}
.banner {
    display: none;
}

.content .one_third {
    height: 310px;
    margin: 14px 0 0 -4px;
    width: 94%; float:none;
}

.down_app {
    width: 94%;
}

.down_app_hdg {
    font-size: 15px; line-height:18px;
}

.download_app {
    font-size: 27px;
    margin: 28px 0 20px 5px;
    width: 286px;
}

.down_device {
    width: 92%;
}

.share_wrap .left {
    width: 100%;
}

.share_wrap .right {
    position: absolute;
    right: 0;
    top: 211px;
    width: 97%;
}
.share_hdg {
    font-size: 15px;
    margin: 10px 0 0;
}

.share_wrap {
    min-height: 346px;
}
.share_txt {
    font-size: 13px;
    line-height: 18px;
    margin: 15px 0 0;
    width: 98%;
}

.footer .one_fifth {
    width: 100%;
}
.footer .one_fifth1{width: 100%;margin: 0 11px;
    padding: 0 0 0 7px; float:left}
	
.product li {

    padding: 0 20px 0 0px;
}
.of_hdg{ width:100%}
.social_li{ margin:0px; float:left; width:100%}
.social_li li{padding-right: 10px;
    width: 39px; margin-top:0px; margin-right: 12px;}
	.down_device img{ width:70%;}
	
.down_device {
    text-align: center;
    width: 92%;
}
	.social_li li:nth-child(1){ padding:0px}
	.social_li li:nth-child(2){ padding:0px}
	.social_li li:nth-child(3){ padding:0px}
	.social_li li:nth-child(4){ padding:0px}

.sub_footer .lft {
    float: none;
    margin: 0 auto;
    width: 98%;
	font-size: 13px;
	text-align: center;
}

.sub_footer .rgt {
    float: none;
    font-size: 13px;
    margin: 13px auto;
    text-align: center;
    width: 99%;
}


.about_content .lft {
    float: left;
    margin: 17px 0 0 30px;
    width: 84%;
}

.about_content .rgt {
    float: left;
    margin: 0 0 0 17px;
    width: 88%;
}

/*  Blog  */



.blog_img {
    float: left;
    margin: 0 0 0 5px;
    width: 72.4%;
}

.blog_desc {
    float: right;
    margin: 0 9px 0 0;
    width: 93%;
}

.field_part {
    margin: 8px 0 6px 22px;
    width: 90%;
}
.down_app_txt{font-size:15px;}

.mac_wrap_left{
	width:94%;
	}
.down_device2{
	width:94%;
	}

.down_device2 > img {
    width: 300px;
}


.news_date {
    margin: 24px 0 0 -9px;
    width: 76%;
}

.blog_pgraph {
    margin: 16px 0 0 -11px;
	text-align:justify;
}

.b_hdg {
    margin: 20px 0 0 -13px;
	text-align:justify;
	 padding: 0 12px 0 0;
}

.blog_btn {
    width: 65%;
}


/*  Business */

.mac_right > img {
    margin: 25px 0 0 16px;
}


.down_app2 {
    margin: 20px 9px 0 0;
    width: 94%;
}

.bottom_signup {
    width: 94%;
}

.bot_frm {
    margin: 14px auto;
    width: 88%;
}
.buis_banner{ background-image:none; min-height:inherit; 
	}
	.buis_banner img{ width:100%; height:auto;}

/*  Careers */
.about_content .lft1 {
    width: 99%;
}

.about_content .careess {
    margin: 0 6px 0 0;
    width: 98%;
}

.heading1 {
    font-size: 30px;
    margin: 30px 0 0;
}

/* Contact Us  */


.contact_us .left {
    width: 94%;
}

.frm_fld input {
    width: 100%;
}

.contact_us .right {
    float: left;
    width: 94%;
}

.frm_fld select {
    width: 100%;
}

.frm_fld textarea {
    width: 91.4%;
}
.contact_banner{
	display:block;
}
.contact_banner {
background-image: url("../images/contact_us_image1.png");
min-height: 150px;
/* width: 100%; */
background-size: cover;
background-position: center left;}

.submit {
    margin: 14px 0 50px 22px;
}
/*  create folder  */
.side_navigation {
    float: left;
    margin: 16px 0 0 13px;
    width: 92%;
}

.cf_content {
    float: right;
    margin: 26px 8px 0 0;
    width: 96%;
}


.noti_inner {
    float: right;
    width: 48%;
}

.pdf_name {
    width: 96%!important;
}

.share_folder {
    width: 96%;
}

.page_title {
    padding: 22px 0 9px 24px;
}

.divider_full {
    width: 94%;
}

/*  My Custom Folder */


.clf {
    width: 99%;
}

.noti_inner.oth {
    margin: 0 91px 0 0;
}

/*  My Friends  */



.my_friends {
    width: 99%;
}

.mf_left {
    width: 19%;
}

/*  My Message */
.send {
    margin: 10px 0 0 10px;
}


/*  My Upload */
.upload_content {
    width: 96%;
}

.upload_line {
    font-size: 20px;
    width: 65%;
}

/*  Notification  */


.set_select select {
    width: 80%;
}

.noti_wrap {
    right: -64px;
}

.n_aroow {
    right: 82px;
}

/*  Security */


.sec_left_img {
    margin: 52px 0 0 28px;
}

.sec_right_cnt {
    margin: 8px 0 0 20px;
    width: 86%;
}

.sec_left_cnt {
    margin: 0 0 0 14px;
    width: 93% !important;
}

.security_pgrph > ul {
    margin: 24px 0 0 -5px; width:92%;
}

.sec_right_img {
    margin: 44px 0 0 55px;
    width: 67%;
}

.sec_last .third {
    margin: 0 16px 0 14px;
    width: 90%;
}

/*  Reset Password */


.reset_slogan {
    width: 55%;
}

.reset_fld {
    width: 94%;
}

.reset_fld input {
    width: 100%;
}

.reset_btn {
    margin: 0 0 0 -10px;
    width: 42%;
}


/*Login page*/	
.login_in{ margin:14px 0px 29px 0px;}
.login_txt{width: 91%;}
.login_content_lft{ width:105%;}	
.login_content_rght{float: left;
width: 96%;
margin-top: 19px;}
.sec_right_cnt{ margin:0px auto !important; width:98% !important}

/*products*/
.pro_tit {
    padding: 22px 7px;}
.our_pro{ padding-left:7px;}
.pro_con_lft {
    float: left;
    width: 93%;}
.pro_con_lft {
    float: left;
    width: 93%;}
.pro_conten {
    float: left;
    width: 99%;margin: 11px 0px 0px;}
.pro_con_rght {
    float: left;
    margin-top: 23px;
    width: 76%;}
.pro_tit{ font-size:22px;}


/*premium*/
.prem_wrap {
    margin: 36px 9px 0px;
    width: 94%;}
.prem_icon_one,.prem_icon_two ,.prem_icon_three ,.prem_icon_four  {
    width: 100%;margin-bottom: 27px;}
.last_cont {
    width: 98%;
    margin-bottom: 12px;}
.icon_one_rgt {
    width: 100%;
    padding-top: 12px;}
	/*video*/
.video_content .lft1 {
    float: left;
    margin: 6px 0px 0px;
    width: 94%;}
	
.video_content .video {
    float: left;
    width: 94%;
    margin-top: 17px;}
.video_img {
    float: left;
    margin: 0px 0px 0px 0px;
    width: 72.4%;}	
.video_desc {
    float: left;
    width: 93%;
    margin-top: 20px;}
.video_content {
    margin: 0px 0px 0px;
    width: 100%;padding: 40px 7px;
}   
.video_part {
    padding: 0px 0px;}
	
	

.profile_pic {
    width: 29%;
}

.blog_part {
    padding: 25px 7px 25px 10px;
}

.pdf_name li:nth-child(1) {
    padding: 7px 0 0!important;
}
.pdf_name li:nth-child(3) {
    padding: 11px 0 0;
}
.pdf_name li:nth-child(5) {
    padding: 13px 0 0;
}
.pdf_name li:nth-child(6) {
    padding: 6px 0 0;
}


.reset_pass {
    padding: 5px 0 1px;
}

.wide_text {
    padding: 0 20px 0 16px;
}
.top_bg{background-size:contain;	}
.mid_bg{ background-size:contain;/*margin-top: -46px;*/ padding-top: 20px; padding-bottom: 10px;}
.bottom_bg{background-size:contain;}
.one_third_outer{ margin:0px auto}
.content .one_third{ margin:24px auto 80px;}
.lft1 img { width:100% !important; height:auto;}
.fn_btn1_dev{ width:68%; margin-left:0px}
.security_pgrph{width:98% !important}