
.logo {
    margin: 10px 0 0;
    text-align: center;
    width: 95%;
}
.navigation {
    width: 55%;
}


.nav li a {
    font-size: 15px;
    margin: 0 0 0 35px;
}
.nav {
    margin: 16px 0 0;
}

.login_sign {
    float: right;
    margin: 15px 0 11px;
    width: 40%; 
}
.login_sign a{ font-size:15px;}
.banner {
    display: none;
}

.content .one_third {
    height: 310px;
    margin: 14px 0 0 71px;
    width: 61%; float:none;
}
.down_app {
    width: 94%;
}

.down_app_hdg {
    font-size: 22px;
}

.download_app {
    font-size: 27px;
    margin: 29px 0 20px 76px;
    width: 286px;
}
.down_device {
    width: 92%;
	margin: 24px 0 0 60px;
}

.share_wrap .left {
    width: 100%;
}

.share_wrap .right {
    position: absolute;
    right: 0;
    top: 214px;
    width: 97%;
}

.share_hdg {
    font-size: 22px;
    margin: 103px 0 0;
}

.share_wrap {
    min-height: 487px;
}
.share_txt {
    font-size: 18px;
    line-height: 18px;
    margin: 15px 0 0;
    width: 98%;
	line-height: 24px;
}

.footer .one_fifth {
    width: 100%;
}
.footer .one_fifth1{width: 100%;margin: 0 11px;
    padding: 0 0 0 7px; float:left}

.sub_footer .lft {
    float: none;
    margin: 0 auto;
    width: 98%;
	font-size: 13px;
	text-align: center;
}

.sub_footer .rgt {
    float: none;
    font-size: 13px;
    margin: 13px auto;
    text-align: center;
    width: 99%;
}

.about_content .lft {
    float: left;
    margin: 17px 0 0 32px;
    width: 84%;
}

.about_content .rgt {
    float: left;
    margin: 0 0 0 17px;
    width: 88%;
}


/*  Blog  */


.blog_img {
    float: left;
    margin: 0 0 0 23px;
    width: 72.4%;
}

.blog_desc {
    margin: 14px 0 0;
    padding: 0 5px 0 0;
    width: 92%;
}

.mac_wrap_left {
    width: 96%;
}

.blog_pgraph {
    margin: 16px 0 0 -11px;
}

.b_hdg {
    margin: 20px 0 0 -12px;
}

.news_date {
    margin: 0 0 0 -12px;
    width: 69%;
}
.blog_btn {
    width: 65%;
}

.mac_right > img {
    margin: 25px 0 0 87px;
}
.down_app2 {
    margin: 20px 9px 0 0;
    width: 94%;
}

.bottom_signup {
    width: 94%;
}

.bot_frm {
    margin: 14px auto;
    width: 58%;
}
.buis_banner{ background-image:none; min-height:inherit; 
	}
	.buis_banner img{ width:100%; height:auto;}

.down_device2 {
    margin: 24px 0 0 64px;
    width: 80%;
}

/*  Careers */	

.about_content .lft1 {
    width: 98%;
}

.about_content .careess {
    margin: 30px 8px 0 0;
    width: 98%;
}

/* Contact Us  */

.submit {
    margin: 14px 0 50px 32px;
}

.field_part {
    margin: 3px 0 6px 33px;
    width: 90%;
}

.contact_us .left {
    width: 94%;
}

.frm_fld input {
    width: 100%;
}

.contact_us .right {
    float: left;
    width: 94%;
}

.frm_fld select {
    width: 100%;
}

.frm_fld textarea {
    width: 91.4%;
}
.contact_banner{
	display:block;
}
.contact_banner {
background-image: url("../images/contact_us_image1.png");
min-height: 150px;
/* width: 100%; */
background-size: cover;
background-position: center left;}

/*  create folder  */

.side_navigation {
    float: left;
    margin: 16px 0 0 13px;
    width: 92%;
}

.cf_content {
    float: right;
    margin: 26px 8px 0 0;
    width: 96%;
}
.noti_inner {
    float: right;
    width: 33%;
}

.pdf_name {
    width: 96%;
}

.share_folder {
    width: 96%;
}

.page_title {
    padding: 22px 0 9px 26px;
}

.divider_full {
    width: 94%;
}


/*  My Custom Folder */


.clf {
    width: 99%;
}

.noti_inner.oth {
    margin: 0 91px 0 0;
}

.cf {
    width: 79%;
}


/*  My Friends  */



.my_friends {
    width: 99%;
}

.mf_left {
    width: 17%;
}
/*  My Message */

.send {
    margin: 10px 0 0 14px;
}


/*  My Upload */


.upload_content {
    width: 77%;
}

/*  Notification  */


.set_select select {
    width: 54%;
}



.noti_wrap {
    right: 10px;
}

.n_aroow {
    right: 82px;
}

/*  Security */


.sec_left_img {
    margin: 52px 0 0 28px;
}

.sec_right_cnt {
    margin: -41px 0 0 20px;
    width: 86%;
}

.sec_left_cnt {
    margin: -50px 0 0 14px;
   width: 93% !important;
}
.security_pgrph > ul {
    margin: 24px 0 0 -5px;width:92%;
}

.sec_right_img {
    margin: 44px 0 0 55px;
    width: 67%;
}

.sec_last .third {
    margin: 0 16px 0 14px;
    width: 90%;
}

.sec_mdl {
    padding: 0 0 36px;
}

.sec_last_img {
    width: 25%;
}


/*  Reset Password */


.reset_slogan {
    width: 55%;
}

.reset_fld {
    width: 94%;
}

.reset_fld input {
    width: 100%;
}
.reset_btn {
    margin: 0 0 0 -6px;
    width: 42%;
}


/*Login page*/	
.login_in {
    margin: 14px 0px 29px 15px;
    width: 92%;}
.login_txt{width: 92%;}
.login_content_lft{ width:105%;}	
.login_content_rght{float: left;
width: 96%;
margin-top: 19px;}


/*video*/
.video_content .lft1 {
    float: left;
    margin: 6px 0px 0px;
    width: 94%;}
	
.video_content .video {
    float: left;
    width: 94%;
    margin-top: 17px;}
.video_img {
    float: left;
    margin: 0px 0px 0px 0px;
    width: 72.4%;}	
.video_desc {
    float: left;
    width: 93%;
    margin-top: 20px;}
.video_content {
    margin: 0px 0px 0px;
    width: 100%;padding: 40px 7px;
}   
video_part {
    padding: 0px 0px;}
	
/*products*/
.pro_tit {
    padding: 22px 7px;}
.our_pro{ padding-left:7px;}
.pro_con_lft {
    float: left;
    width: 93%;}
.pro_con_lft {
    float: left;
    width: 93%;}
.pro_conten {
    float: right;
    width: 99%;}
.pro_con_rght {
    float: left;
    margin-top: 23px;
    width: 60%;}
	
/*premium*/
.prem_wrap {
    margin: 36px 9px 0px;
    width: 94%;}
.prem_icon_one,.prem_icon_two ,.prem_icon_three ,.prem_icon_four  {
    width: 100%;}
.last_cont {
    width: 98%;
    margin-bottom: 12px;}
			
			
.profile_pic {
    width: 24%;
}

.blog_part {
    padding: 25px 0;
}

.pdf_name li:nth-child(1) {
    padding: 8px 0 0;
}
.pdf_name li:nth-child(3) {
    padding: 11px 0 0;
}
.pdf_name li:nth-child(5) {
    padding: 13px 0 0;
}
.pdf_name li:nth-child(6) {
    padding: 6px 0 0;
}

.pdf_name li:nth-child(4) {
    padding: 12px 0 0;
}
.reset_pass {
    padding: 5px 0 1px;
}
.sec_right_cnt{ margin:0px auto !important;width:98% !important}

.wide_text {
    padding: 0 20px 0 16px;
}
.top_bg{background-size:contain;	}
.mid_bg{ background-size:contain;/*margin-top: -46px;*/ padding-top: 20px; padding-bottom: 10px;}
.bottom_bg{background-image:url("../images/box_image_bottom.png"); background-repeat:no-repeat; background-size:contain; width:100% }
.one_third_outer{ margin:0px auto}
.content .one_third{ margin:24px auto 80px;}
.lft1 img { width:100% !important; height:auto;}
.of_hdg{ width:100%}
.fn_btn1_dev{ width:80%; margin-left:0px}
.down_device img{ width:100%}

.security_pgrph{width:98% !important}