
.logo {
    width: 30%;
}

.nav li a {
    color: #585252;
    display: block;
    font-family: "MyriadPro-Regular";
    font-size: 18px;
    margin: 0 0 0 20px;
    text-transform: uppercase;
}

.navigation {
    float: left;
    width: 36%;
}

.login_sign {
    float: right;

    width: 33%;
}

.bnr_txt {
    font-size: 20px;
}

.bnr_l_txt {
    font-size: 13px;
    margin: 16px 0 0;
}

.free_signup {
    font-size: 16px;
    margin-top: 107px;
    padding: 13px 14px;
}
.abstor > img {
    margin: 66px 0 0;
    width: 318px;
}

.txt_img {
    margin: 0 8px 0 0;
    min-height: 104px;
    width: 94%;
}
.downlod_logo img {
    width: 36px;
}

.y_desc {
    margin: 13px 0 0;
    width: 72%;
}

.y_desc_ul a {
    font-size: 14px;
}

.drag_drop {
    font-size: 18px;
}

.downlod_logo img {
    margin: 14px 0 0 -4px;
    width: 45px;
}

.content .one_third {
    width: 48%;
}

.top_bg {
    /*background: url("../Images/box_image_top.png") repeat scroll 0 0 / contain rgba(0, 0, 0, 0);*/
    height: 94px;
}

/*.mid_bg {
    background: url("../Images/box_image_center.png") repeat scroll 0 0 / contain rgba(0, 0, 0, 0);
    margin-top: -74px;
    width: 100%;
	min-height:255px;
}*/
/*.ot_icon > img {
margin: -29px 0 0;}*/


/*.bottom_bg {
    background: url("../Images/box_image_bottom.png") repeat scroll 0 0 / contain rgba(0, 0, 0, 0);
    height: 10px;
    margin: 2px 0 0;
}*/
/*.ot_icon > img {
    width: 27px;
}*/
.mid_bg {margin-top: -44px;}
.footer .one_fifth {
    width: 100%;
}
.footer .one_fifth1{width: 100%;margin: 0 11px;
    padding: 0 0 0 7px; float:left}

.down_app_hdg {
    font-size: 18px;
}

.download_app {
    font-size: 27px;
    height: 52px;
    margin: 22px 0 20px 29px;
    width: 280px;
}

.down_device > img {
    width: 100%;
}
.down_device{ margin-top:76px}

.down_app_txt {
    font-size: 15px;
}

.share_txt {
    font-size: 15px;
}

.sub_footer .lft {
    padding: 0 0 0 9px;
}
.bnr_rgt{ right:7px}

.about_content .lft {
    float: left;
    margin: 19px 0 0;
    width: 39%;
}

.about_content .rgt {
    float: right;
    margin: 0 11px 0 0;
    width: 55%;
}

/* Blog  */
.blog_img {
float: left;
margin: 0 0 0 23px;
width: 72.4%;
}

.blog_desc {
margin: 14px 0 0;
padding: 0 5px 0 0;
width: 92%;
}

.news_date {
    width: 60%;
}

.blog_part {
    padding: 25px 8px 25px 0;
}


.ot_hdg {
    font-size: 19px;
}


.bottom_signup {
    width: 60%;
}


.mac_wrap_left {
    width: 100%;
}
.mac_right{ text-align:center; width:100%;}
.down_app2{ width:97%}

.down_device2 > img {
    width: 269px;
}
.share_wrap .left {
    width: 100%;
}

.share_wrap .right {
    position: relative;
    right: 0;
    top: 0px;
    width: 97%;
}


.mac_wrap {
    padding: 80px 0 0;
}
.buis_banner{ background-image:none; min-height:inherit; 
	}
	.buis_banner img{ width:100%; height:auto;}

.mac_right > img {
    margin: 25px 0 0 40px;
    width: 264px;
}

.bot_frm {
    margin: 14px auto;
    width: 75%;
}

/*  Careers */

.about_content .lft1 {
    width: 99%;
}

.about_content .careess {
    float: right;
    margin: 11px 0 0;
    width: 100%;
}

.contact_banner {
    background: url("../Images/contact_us_image1.png") no-repeat scroll 0 0 / contain rgba(0, 0, 0, 0);
    min-height: 209px;
    width: 100%;
}

.field_part {
    margin: 30px 0 6px 78px;
}

.submit {
    margin: 14px 0 50px 78px;
}

/*  create folder  */

.noti_inner {
    float: right;
    width: 36%;
}

.create_folder_wrap {
    margin: 36px 0 0;
    padding: 0 12px 0 8px;
}

.page_title {
    padding: 22px 0 9px 16px;
}

.divider_full {
    width: 97%;
}

.about_content p {
    padding: 0 11px 0 7px;
}

/*  My Custom Folder */

.clf {
    width: 62%;
}

.noti_inner.oth {
    margin: 9px 4px 0 0;
}


/*  My Friend */

.my_friends {
    width: 82%;
}

/*  My Message */
.send {
    margin: 10px 0 0 13px;
}


.pdf_name.full_msg {
    width: 98.3%;
}

/*  My Upload */
.upload_content {
    width: 83%;
}

/*  Notification  */


.set_select select {
    width: 62%;
}

.noti_wrap {
    right: -4px;
}
.n_aroow {
    right: 25px;
}

/*  Security  */


.sec_left_img > img {
    width: 190px;
}

.sec_right_cnt {
    margin: 36px 0 0 52px;
    width: 52%;
}

.sec_mdl {
    padding: 44px 10px 36px;
}

.sec_right_img {
    margin: 44px 0 0;
}

.sec_left_cnt {
    width: 64%;
}

.sec_last .third {
    width: 27%;
}

.sec_last_img {
    width: 62%;
}

.sec_last_hdg {
    font-size: 16px;
}

.sec_last_pgraph {
    font-size: 14px;
}

/*  Security  */

.reset_fld input {
    width: 80%;
}

.reset_slogan {
    width: 36%;
}

.reset_btn {
    margin: 0 0 0 50px;
}

/*Login page*/	
.login_in{ margin:14px 0px 29px 7px;}
.login_txt{width: 91%;}
.login_content_lft{ width:105%;}	
.login_content_rght{float: left;
width: 96%;
margin-top: 19px;}


/*video*/
.video_content .lft1 {
    float: left;
    margin: 6px 0px 0px;
    width: 70%;}
.video_content .video {
    float: left;
    width: 98%;
    margin-top: 15px;}
.video_desc {
    float: left;
    width: 99%;
    margin-top: 12px;}
	
/*products*/	
	
.pro_conten {
    float: left;
    width: 62%;
    margin: 21px 0px 0px 17px;}
.pro_con_lft {
    float: left;
    width: 95%;}
.pro_con_rght {
    width: 55%; float:left;}
	
/*premium*/
.banner {
    min-height: 367px;}
.prem_rgt {
    top: 19px;}
.icon_one_rgt {
    width: 65%;
    float: right;}
.bnr_left {
    margin: 65px 0px 0px 38px;
    width: 52%;}
.free_prem{margin-top: 62px;}
.prem_wrap {
    margin: 36px 17px 0px;
    width: 94%;}
.last_cont{width: 78%;}		

.ico_imag > img {
    width: 88px;
}

.profile_pic {
    width: 23.3%;
}
.reset_pass {
    padding: 5px 0 1px;
}
.lft1 img { width:100% !important; height:auto;}
.fn_btn1_dev{ width:68%; margin-left:0px}
