/*video*/
.video_part {
    padding: 0px 0px;}
.video_pgraph {
    margin: 11px 0px 35px;}
.video_desc {
    float: right;
    width: 62%;}
	
/*products*/	
	
.pro_conten {
    float: left;
    width: 60%;
    margin: 21px 0px 0px 17px;}
.pro_con_lft {
    float: left;
    width: 68%;}
.pro_con_rght {
    width: 32%;}
	.footer .one_fifth {
    width: 100%;
}
.mac_wrap_left {
    width: 100%;
}
.buis_banner{ background-image:none; min-height:inherit; 
	}
	.buis_banner img{ width:100%; height:auto;}
.mac_right{ text-align:center; width:100%;}
.down_app2{ width:97%}

.down_device2 > img {
    width: 269px;
}
.share_wrap .left {
    width: 100%;
}

.share_wrap .right {
    position: relative;
    right: 0;
    top: 0px;
    width: 97%;
}
.footer .one_fifth1{width: 100%;margin: 0 11px;
    padding: 0 0 0 7px; float:left}
	.about_content .careess {
float: right;
margin: 11px 0 0;
width: 100%;
}
.contact_banner{
	display:block;
}
.contact_banner {
background-image: url("../images/contact_us_image1.png");
min-height: 150px;
/* width: 100%; */
background-size: cover;
background-position: center left;}
.fn_btn1_dev{ width:80%; margin-left:0px}
.down_device img{ width:100%}
.down_device img{ width:100%}