
.navigation {
    float: left;
    width: 54%;
}

.footer .one_fifth {
    width: 100%;
}
.footer .one_fifth1{width: 100%;margin: 0 11px;
    padding: 0 0 0 7px; float:left}

.sub_footer .lft {
    color: #777777;
    float: left;
    padding: 6px 0 0 5px;
    width: 50%;
}
	.about_content .careess {
float: right;
margin: 11px 0 0;
width: 100%;
}

.sub_footer .rgt {
    width: 36%;
}

.sub_footer .lft {
    padding: 0 0 1px 18px;
}

.login_sign {
    width: 22%;
}

.bnr_txt {
    font-size: 24px;
}

.bnr_l_txt {
    font-size: 15px;
}

.free_signup {
    font-size: 18px;
    margin-top: 77px;
}

.abstor > img {
    margin: 27px 0 0 17px;
    width: 380px;
}


.downlod_logo img {
    width: 100%;
}

.y_desc {
    float: left;
    margin: 19px 0 0 14px;
    width: 76%;
}
.drag_drop {
    font-size: 25px;
}

.y_desc_ul a {
    font-size: 13px;
    margin: 6px 7px 0 0;
}

.bnr_rgt {
    right: 7px;
}

.banner {
    min-height: 380px;
}

.txt_img {
    margin: 0 -3px 0 0;
    min-height: 99px;
}

.ot_icon > img {
    height: 76px;
    width: 70px;
}

.ot_hdg {
    font-size: 20px;
    margin: 5px auto;
}
.ot_txt {
    font-size: 12px;
    margin: 1px auto;
    text-align: justify;
}

.ot_icon {
    margin: 26px auto 0;
}

.phone_wrap {
    margin: 0;
}

.download_app {
    font-size: 26px;
    height: 60px;
    margin: 28px 0 20px 28px;
    width: 280px;
}




.about_content .lft {
    float: left;
    margin: 19px 0 0;
    width: 32%;
}

.about_content .rgt {
    float: right;
    margin: 0 15px 0 0;
    width: 65%;
}

/*  Blog */

.blog_img {
    width: 27.4%;
}

.blog_desc {
    padding: 0 13px 0 0;
    text-align: justify;
    width: 70%;
}
.blog_part {
    border-bottom: 1px solid #CCCCCC;
    padding: 25px 10px;
}


/*.top_bg {
    background: url("../Images/box_image_top.png") repeat scroll 0 0 / contain rgba(0, 0, 0, 0);
    height: 85px;
}

.mid_bg {
    background: url("../Images/box_image_center.png") repeat scroll 0 0 / contain rgba(0, 0, 0, 0);
    margin-top: -43px;
    width: 100%;
}

.bottom_bg {
    background: url("../Images/box_image_bottom.png") repeat scroll 0 0 / contain rgba(0, 0, 0, 0);
    height: 12px;
    margin: 7px 0 0;
}*/
.top_bg {height:98px;}
.buis_banner{ background-image:none; min-height:inherit; 
	}
	.buis_banner img{ width:100%; height:auto;}
/*  Business */
.bot_frm {
    width: 70%;
}
/*  Careers */


.about_content .lft1 {
    width: 40%;
}

.heading1 {
    font-size: 33px;
}

.careess p {
    line-height: 23px;
}


.careess_wide_text {
    margin: 5px 0 76px;
}

/*  Contact Us */
.field_part {
    margin: 30px 0 6px 90px;
}
.contact_banner {
    background: url("../Images/contact_us_image1.png") no-repeat scroll 0 0 / contain rgba(0, 0, 0, 0);
    min-height: 250px;
    width: 100%;
}

.submit {
    margin: 14px 0 50px 88px;
}

/*  create folder  */

.noti_inner {
    float: right;
    width: 30%;
}

.create_folder_wrap {
    margin: 36px 0 0;
    padding: 0 7px;
}

/*  My Custom Folder */

.clf {
    float: left;
    position: relative;
    width: 65%;
}

.nav li a {
    font-size: 18px;
    margin: 0 0 0 19px;
}


/*  My Friend */

.my_friends {
    width: 69%;
}
/*  My Message */
.send {
    margin: 10px 0 0 17px;
}

/*  My Upload */

.upload_content {
    width: 75%;
}

/*  Notification  */


.set_select select {
    width: 50%;
}

.n_aroow {
    right: 43px;
}

/*  Security  */
.about {
    padding: 0 0 0 4px;
}

.sec_left_cnt {
    margin: 0 0 0 13px;
    width: 54%;
}

.sec_last .third {
    width: 28%;
}

.sec_last_hdg {
    font-size: 20px;
}

/*  Security */


.reset_btn {
    margin: 0 0 0 46px;
}

/* video */
.video_desc {
    float: right;
    width: 66%;}
/* video */	

/*products*/
.pro_conten {
    float: right;
    width: 70%;}

/*premium*/
.banner {
    min-height: 367px;}
.prem_rgt {
    top: 19px;}
.icon_one_rgt {
    width: 65%;
    float: right;}
.bnr_left {
    margin: 65px 0px 0px 38px;
    width: 52%;}
.free_prem{margin-top: 62px;}
.prem_wrap {
    margin: 36px 17px 0px;
    width: 94%;}
.last_cont{width: 78%;}

.prem_cnt_inner {
    margin: 14px 0 60px 19px;
}


.profile_pic {
    width: 20.3%;
}

.mac_wrap_left {
    width: 43%;
}

.wide_text > p {
    padding: 0 14px 0 10px;
}

.page_title {
    padding: 16px 0 8px 15px;
}
.fn_btn1_dev{ width:80%; margin-left:0px}
.down_device img{ width:100%}
.down_device{ margin-top:76px}