.online-sign-div {
width:60%;
float:none;
}
.top-settings {
width: 6%;
float: right;
}
.nav-collapse.collapse {
margin-bottom: 10px;
}
.online-name {

float: left;
padding-top: 1%;
}
.online-sign {
float: left;
margin-left: 10px;}
.top-settings img {
float: right;
margin-top: 35%;
margin-right: 20%;
}
.slide_outer {
width: 100%;
}
.slide-main {
float: none;
width: 105px;
cursor: pointer;
}
.slider-line{ background-color:#474747;
width: 2px;
height: 36px;
display: block;
float: none;
margin-top: 0px;
margin-left: 0px;
margin-right: 0px;
}
.slide-main .slide-bg {
position: relative;
}
.slide-main .slide-txt {
font-family: "avenir-light";
color: #CECECE;
font-weight: bold;
padding-bottom: 0px;
}
.slide-product {
cursor: pointer;
position: absolute;
right: -20px;
bottom: -35px;
}
.content_sub {
width: 460px;
padding: 60px 0px;
}
.text_1 {
font-family: "avenir-light";
font-size: 20px;
color: #c9c8c8;
font-weight: bold;
float: left;
width: 360px;
text-align: left;
padding: 15px 0px 0px 0px;
}
.logo {
float: left;
width: 33%;
margin-top: 16px;
}
.fileinput-button {
position: relative;
overflow: hidden;
top: -31px;
right: -79%;
font-size: 15px;
border: 1px solid #989898;
}
.content_sub_1{ width:400px;padding:40px 0px 0px 0px}
.form_texbox_1_1 {
width: 100%;
float: left;
}
.left_btns input[type="submit"]{ width:100%}
.selectBox-dropdown {
width: 99% !important;
}
.text_1_1 {
font-family: "avenir-light";
font-size: 14px;
color: #c9c8c8;
font-weight: bold;
float: left;
width: 289px;
text-align: left;
padding: 15px 0px 0px 0px;
}
.form_name_1_1 {
font-family: "avenir-heavy";
color: #7e7e7e;
padding: 0px 0px 5px 0px;
width:100%;
float: none;
margin-left: 0px;
text-align: left;
margin-right: 20px;
}
.form_block_2 {
text-align: justify;

padding: 5px 10px 5px 10px;
box-shadow: 0px 0px 3px #cccccc;
border-radius: 1px;
margin: 20px 0px;
}
.form_texbox_1_1 .text_bx_1{ width:94%}
.txtarr {
width: 94%;
}
.form_texbox_1_1 .fileinput-button {
position: relative;
overflow: hidden;
top: -31px;
right: -74%;
font-size: 15px;
border: 1px solid #989898;
}
.slide-product-img img{ width:40px;}
.slide-product-img1 img{ width:40px;}
.slide-product1 {
cursor: pointer;
position: absolute;
left: -20px;
bottom: -35px;
}
/*------------------------------shipping_page--------------------*/
.left_select_bx {
float: none;
width: 100%;
margin-right: 0px;
}
.left_select_bx span.lines1 {
font-size: 12px;
}
.ryt_text_bx {
float: none;
width: 100%;
}
.ryt_text_bx span.lines1 {
font-size: 12px;
}
.left_details {
width: 42%;
margin-right: 50px;
}
.ryt_details {
float: left;
width: 36%;
}
.text_bx_details {
width: 86%;}
.left_select_bx1 {
width: 42%;
margin-right: 50px;
}
.ryt_text_bx1 {
float: left;
width: 35%;
}
.left_select_bx .selectBox-dropdown {
width: 98% !important;
}
.agree_terms{ text-align:center}
.custom-checkbox label, .custom-radio label {width: 100%;font-family: "avenir-book";color: #c0c0c0;font-weight: bold;float: left;
font-size: 18px; margin:0px;}
.ques_ans {
text-align: left;
padding: 0px 0px;
}
.answer_para {
color: #333;
font-family: "avenir-light";
padding: 10px 0px;
font-size: 16px;
text-align: justify;
}
.underline_1 {
background-color: #b8cccb;
height: 3px;
width: 100px;
margin: 20px 0px;
}
.inner_ryt {
padding: 0px 0px 70px 0px;
width:100%;
float:none;
}
.list_pics li {
float:none;
margin: 6px 10px;
}
.menu_1 li {
float: left;
font-family: "avenir-heavy";
margin: 0px 10px;
font-size: 12px;
width:36%;
}

.seemore {
text-align: center;
}
.list_pics li img{width: 80px;
height: 80px;}
.menu_1 {
padding: 0px 0px;
width: 100%;
}
#f1{ display:none}
#f2{ display:none}
.sub_ryt_txt {
float: left;
width: 100%;
text-align: left;
}
.inner_left {
width: 80%;
float: left;
margin-left: 9%;
}
.inner_left .text_bx_1 {
width: 91%;
border: 1px solid #C3C3C3;
border-radius: 2px;
padding: 10px 10px;
outline-color: #7EAA2E;
font-family: "avenir-light";
color: #8e8e8e;
}
.txt_srch {
width: 82%;
float: left;
padding: 0px 5px;
border: none;
background-color: transparent;
outline: none;
font-family: "avenir-book";
color: #c0c0c0;
}
.shop_name_head {
text-align: center;
}
.last_img{ display:none !important}
.tabb_1 tr td{ margin:0; padding:0; cursor:pointer; }
.tod11{ display:block}
.order_id1{  padding:5px 0px; }
.order_id{ padding:5px 0px;}
.t1{display:none}

.order_id1{  padding:5px 0px; }
.tabb_1 tr td:first-child + td { display:none}
.tabb_1 tr th:first-child + th{ display:none}
.tabb_1 tr td:first-child + td+td+td+td { display:none}
.tabb_1 tr th:first-child + th+th+th+th{ display:none}
.tabb_1 tr td:first-child + td+td+td  { display:none}
.tabb_1 tr th:first-child + th+th+th{ display:none}
.prodcts li {
float: none;
}
 #container {
    display: -webkit-box; /* Initiate flexbox */
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -moz-box-orient:vertical; /* Establishes the direction of reordering - we want the y-axis */
    -webkit-box-orient:vertical;
    -ms-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  #container .ryt_content, #container .left_content{
    -moz-box-ordinal-group: 1;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
	width:100%
  }
  #container .ryt_content {
    -moz-box-ordinal-group: 2;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  #container .left_content {
    -moz-box-ordinal-group: 3;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }
  .prod_prev {
text-align:center;
padding: 70px 0px 20px 0px;
width:auto;
float:none;
}
 
  #container .left_content{ padding:0px 0px 20px 0px;}
 .tabb_2 tr{ float:left; width:100% }
.tabb_2 tr th{ float:left; width:100%}
.tabb_2 tr td{ float:left; width:100%;}
.sub_tab tr td{ border-bottom:0; text-align:left}
.left_content_1{ float:none; width:90%; padding:60px 15px; background-color: rgba(0,0,0,0.3); border:2px solid #898c8c;border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; -ms-border-radius:3px; -moz-border-radius:3px; }
.ryt_content_1{ float:none; width:90%; text-align:justify}
.ryt_content_1 p{ color:#fff; font-family:opnb; font-size:14px; padding:10px 0px 10px 0px;}
.fb_twit_left{ margin:5px 0px; float:none; display:block}
.fb_twit_ryt{ margin:5px 0px; float:none;display:block}
.footer{padding-bottom:25px;}
.form_name_1_seller {
font-family: "avenir-heavy";
color: #7e7e7e;
padding: 10px 0px 0px 0px;
width: 150px;
float: none;
margin-left: 20px;
text-align: left;
margin-right: 0px;
}
.form_texbox_1_seller {
width: 83%;
float: none;
clear: both;
margin: 7px 20px;
}
.fileinput-button {
position: relative;
overflow: hidden;
top: -31px;
right: -54%;
font-size: 15px;
border: 1px solid #989898;
}
.heading_1_seller {
text-align: center;
}
.ryt_head_seller a {
float: none;
}
.ryt_head_seller {
float: none;
clear: both;
}
.search_head_area{ border:2px solid #575757; background-color:#444444; float: right;
width: 55%;
margin: 8px 0px;
clear: right;
}
.txtbx_srch{ font-family: "avenir-heavy"; color:#8e8d90; font-size:22px; float:left; width:70%; background-color:transparent; border:none; outline:none; padding:0px 8px;}
.txtbx_srch:focus > .search_head_area{-webkit-transition:.3s ease-in; border-radius:5px; box-shadow: 0px 0px 7px #7EAA2E;}
.sbmt_head_srch {
background-image: url(../images/search-icon.png);
height: 30px;
border: 0px;
cursor: pointer;
background-color: transparent;
float: right;
width: 38px;
}.logs {
margin: 0px 0px 0px 0px;
display: block;
}
.menu_icon li {
font-size:20px;
font-family: "avenir-heavy";
float: left;
margin: 0px 0%;
}
.list_prodcs li {
float:none;

box-shadow: 0px 0px 8px #666;
margin: 15px 0px;
position: relative;
}
.menu_icon {
float: none;
width: 296px;
clear: both;
max-width:none
}
.main_menu .navbar{ border:2px solid #97ba2d; background-color:#fff; border-radius:5px ; -webkit-border-radius:5px ; -o-border-radius:5px ; -ms-border-radius:5px ; -moz-border-radius:5px }
.main_menu .nav-collapse.collapse {
margin-bottom: 0px;
}
.main_menu li a{ border-bottom:none;}
.main_menu li a:hover{ background-color:transparent !important; color:#97ba2d !important; border-bottom:none}
.main_menu li a.active{ background-color:transparent !important; color:#97ba2d !important; border-bottom:none}
.menn{display:block}
.sub_section {
width: 92%;
}
.header_2_2 {
padding:126px 20px 10px 20px;
}
.txbx_1 {
width:36%;
float: left;
}
.img_icons1 {
margin: 10px 1px;
}

.txbx_4 {
width: 9%;
margin: 0px 3px 0px 2%;
}
.txbx_5 {
width: 9%;
float: right;
margin: 0px 3px 0px 2%;
}
.ima_ship img{ margin:10px 0px;}

.content_white {

width: 80%;
padding: 20px 4%;
top:-40px;

}
.list_articles li {

padding: 30px 20px;
margin: 40px 0px;
}
.descr_article {
font-size: 15px;

}
.left_article {
font-size: 22px;

}
.ryt_article {

padding: 14px 0px;
}.main_menu1 .navbar{ border:2px solid #97ba2d; background-color:#fff; border-radius:5px ; -webkit-border-radius:5px ; -o-border-radius:5px ; -ms-border-radius:5px ; -moz-border-radius:5px }
.main_menu1 .nav-collapse.collapse {
margin-bottom: 0px;
}
.get_involvd {
font-size: 13px;
}
.email1 {
font-size: 13px;
}
.faq_section a {
background-color: #444444;
color: #fff;
font-family: "avenir-heavy";
font-size: 17px;
padding: 5px 15px;
float: left;
}
.contact_heading {
font-family: "avenir-heavy";
font-size: 33px;
color: #c0c0c0;
text-align: left;
}
.left_contact {
float: left;
width: 60%;
}
.ryt_contact {
float: right;
width: 37%;
margin-left:0%;
}
.ryt_head_contact{
font-family: "avenir-heavy";
font-size: 26px;
color: #c0c0c0;
text-align: left;
padding-top: 10px;
}   
.forgot_pss {
background-color: #f7f7f7;
width: 85%;
padding: 20px 2%;
text-align: left;
box-shadow: 0px 0px 10px #e0e0e0;
}

.left_inpt {
float: left;
width: 98%;
margin: 10px 0px;
}
.goodtoo {
float: none;
width: 100%;
margin: 0px 0px 0px 0px;
font-size: 14px;
color: #82ad31;
font-family: "avenir-book";
text-align: right;
display: block;
}
.ryt_desc {
float: right;
width: 48%;
}
.list_prod_attr li {
font-size: 12px;
font-family: "avenir-heavy";
float: left;
margin-right: 8px;
}
.ryt_sub_section1 {
width: 100%;
float:none; clear:both; margin-top:10px;
}
.left_sub_section1 {
width: 96%; float:none; clear:both}
#container {
	display: -webkit-box; /* Initiate flexbox */
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-moz-box-orient:vertical; /* Establishes the direction of reordering - we want the y-axis */
	-webkit-box-orient:vertical;
	-ms-box-orient: vertical;
	-webkit-flex-direction: column;
	flex-direction: column;
}
#container .ryt_inner_desc_2, #container .left_inner_desc_2 {
	-moz-box-ordinal-group: 1;
	-webkit-box-ordinal-group: 1;
	-ms-flex-order: 1;
	-webkit-order: 1;
	order: 1;
	width:100%
}
#container .ryt_inner_desc_2 {
	-moz-box-ordinal-group: 2;
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 2;
	-webkit-order: 2;
	order: 2;
}
#container .left_inner_desc_2 {
	-moz-box-ordinal-group: 3;
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 3;
	-webkit-order: 3;
	order: 3;
}
.ryt_inner_desc_2 .list_pics li {
float: left;
margin: 6px 9px;
}
.left_inner_desc_2 .answer_para {
color: #333;
font-family: "avenir-light";
padding: 10px 0px;
font-size: 13px;
text-align: justify;
line-height:22px;
}
.ryt_midle_div {
float: none;
margin-left: 0px;
width: 100%;
clear: both;
}
.left_img {
float: none;
}
.middle_section .list_pics li {
float:none;
margin: 6px 2px;
}
.middle_section .last_img {
display: block !important;
}
.list_favs li {
color: #7b9898;
border-bottom: 1px solid #7b9898;
font-size: 16px;
float: none;
padding: 10px;
border-right:none
}
.name_buyer {
text-align: center;
padding: 10px 0px 0px 0px;
}
.inner_left_seller .fileinput-button {
position: relative;
overflow: hidden;
top: 6px;
right: -3%;
font-size: 15px;
border: 1px solid #989898;
margin-bottom: 10px;
float: right;
}
.menu_sub li {
color: #999999;
font-family: "avenir-heavy";
font-size: 16px;
text-align: left;
float: none;
display: block;
margin: 0px;
width: 90%;
padding: 10px 10px !important;
}
.slide-full {
width: 100%;
background-color: #4C5554;
padding-top: 136px;
}
.content {
padding-top: 150px;
}
.content_main { 
padding-top: 150px;
}
.content_main_new {
padding-top: 150px;
}

.ryt_pannel{ position:static; right:0px;}
.feautured li:hover{ background-image: url(../images/arroe_rit.png); background-repeat:no-repeat; background-position:20px 14px; }
.feautured li a{ color:#999A9D; background-position:center right; padding:8px 50px 8px 10px; background-repeat:no-repeat; display:block; text-indent:-9999px;}
.feautured li {
width: 70%;
text-align: left;
padding: 5px 18px 5px 0px; text-indent:-9999px;
}
.upper_fav{font-family: "avenir-light"; padding-bottom:0px; color:#CDCAC5; font-size:13px;}
.name_buyer{font-family: "avenir-book"; color:#8fb530; font-size:15px; text-align:left} 

.arr{ display:none}
.ryt_text_bx .text_bx_111 {
width: 73%;
}
.left_select_bx111{width: 87%;}
.text_bx_111 {
width: 73% !important;
float: left;
}
 #containe2 {
    display: -webkit-box; /* Initiate flexbox */
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -moz-box-orient:vertical; /* Establishes the direction of reordering - we want the y-axis */
    -webkit-box-orient:vertical;
    -ms-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  #containe2 #ryt1_11, #containe2 #left1_11{
    -moz-box-ordinal-group: 1;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
	width:100%
  }
  #containe2 #ryt1_11{
    -moz-box-ordinal-group: 2;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  #containe2 #left1_11 {
    -moz-box-ordinal-group: 3;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }

.sub_container {
width:86%; 
}
.list_desc li {
text-align:center
}
.ryt_img {
float:none;
width:100%;
clear:both
}
.left_img {
float:none;
width:100%;
clear:both
}
.divider_img {
background-image: url(../images/divider.gif);
height: 2px;
width:auto;
}
.container .content{ padding:0px;
}
.container .menu_1 li {
font-size: 20px;
float: left;
font-family: "avenir-heavy";
margin: 15px 0px 0px 25px;
}
.container .ryt_log {
float: right;
width: 195px;
}
.footer{padding-bottom:0px; height:auto !important}