/* CSS Document */

.error {
	color: #990000;
	font-family: opensans-regular;
	font-weight: 900;
	font-size: 14px;
}
.success {
	color: #060;
	font-family: opensans-regular;
	font-weight: 900;
	font-size: 14px;
}
.star {
	color: #f00;
	font-weight: 900
}

.my_friends_srch {
	width: 85%;
	font-family: "MyriadPro-Regular";
}

.fn_icon_dev {
	float: left;
	margin: 9px 0 0 24px;
	width: 39px;
	cursor:pointer;
}
.fn_btn1_dev {
	color: rgb(76, 76, 76);
	float: left;
	font-family: "Lato-Reg";
	font-size: 18px;
	margin: 23px 0 0 10px;
	text-align: left; width:87%;
	cursor:pointer; float:left;
}
.prof_image_k{
	margin-left: 230px;
	margin-top: -65px;
	margin-bottom:40px;
}
.frnd_profile_dev {
	margin: 15px 0 29px 15px;
}
.btn_dev {
	float: right;
	width: 33%;
	margin-top: 20px;
	/*border: 1px rgb(201, 194, 194) solid;*/
}
.profile_pic_dev {
	float: left;
	width: 14.3%;	
	margin: 20px 0 0 0;
}

@media(max-width: 480px){
.profile_pic_dev {
	width: 30%;	
}

.send_msg {
    float: right;
}

}


.p_tags_dev {
	float: left;
	margin: 20px 0 0 13px;
}
.reqest_sent {
	background-color: #D8D8D8;
	border: medium none;
	border-radius: 10px;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 18px;
	margin: 0 0 0 10px;
	outline: medium none;
	padding: 10px 25px;
	float: left;
}
.my_friends_dev{
    font-family: "MyriadPro-Regular";
    width: 95%;
}
.my_friends_dev1{
    font-family: "MyriadPro-Regular";
    width: 75%;
}
.mf_right a{
	color:#000000;
}

.t_notifi_dev{
	margin-top: -33px;
	margin-left: 18px;
	font-size: 10px;
	color: rgb(255, 255, 255);
}
.my_msg_txt textarea {
	border: 1px solid rgb(204, 204, 204);
	height: 37px;
	padding: 4px 0 0 5px;
	width: 79%;
	font-family: "Lato-Reg";
	font-size: 14px;
	margin-top: 8px;
	border-radius: 4px;
}
.send {
	background-color: rgb(59, 185, 215);
	border: medium none;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	color: rgb(255, 255, 255);
	cursor: pointer;
	font-size: 18px;
	border-radius: 4px;
	margin: 8px 0 0 0px;
	outline: medium none;
	padding: 10px 25px;}
	
	.btna{ float:right}