@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: "MyriadPro-Regular";
	src: url(../fonts/MyriadPro-Regular.otf) format("opentype");
}
@font-face {
	font-family: "comic";
	src: url(../fonts/comic.ttf) format("truetype");
DroidSans
}
@font-face {
	font-family: "Helvetica_CE_Regular";
	src: url(../fonts/Helvetica_CE_Regular.ttf) format("truetype");
}
@font-face {
	font-family: "DroidSans";
	src: url(../fonts/DroidSans.ttf) format("truetype");
}
@font-face {
	font-family: "OpenSans-Regular";
	src: url(../fonts/OpenSans-Regular.ttf) format("truetype");
}
@font-face {
	font-family: "Lato-Reg";
	src: url(../fonts/Lato-Reg.ttf) format("truetype");
}
@font-face {
	font-family: "calibri";
	src: url(../fonts/calibri.ttf) format("truetype");
}
@font-face {
	font-family: "OpenSans-Regular";
	src: url(../fonts/OpenSans-Regular.ttf) format("truetype");
}
@font-face {
	font-family: "Lato Regular";
	src: url(../fonts/Lato-Reg.ttf) format("truetype");
}
body {
	margin: 0;
}

body img{
	border: none;
}

.clear {
	clear: both;
}
#wrapper {
	width: 100%;
	overflow: hidden;
	background-color: #F4F4F4;
}
.header {
	width: 100%;
	background-color: #ffffff;
	min-height: 100px;
}
.container {
	max-width: 1000px;
	margin: 0 auto;
}
.logo {
	float: left;
	width: 20%;
	outline: none;
}
.logo img {
	outline: none;
}
.navigation {
	float: left;
	width: 52%;
}
.nav {
	margin: 55px 0 0;
}
.nav li {
	float: left;
}
.nav li a {
	color: #585252;
	display: block;
	margin: 0 0 0 30px;
	font-family: "MyriadPro-Regular";
	font-size: 18px;
	text-transform: uppercase;
}
.nav li a:hover {
	color: #2E8BA1;
}
.nav li a.active {
	color: #2E8BA1;
}
/*  For all UL and LI */
ul {
	margin: 0;
	padding: 0;
}
.nicEdit-main ul {
	margin: 0;
	padding-left : 20px;
}
.nicEdit-main ul li {
	list-style-type: disc ! important;
}
.nicEdit-main ol li {
	list-style-type: decimal ! important;
}
li {
	list-style: none outside none;
}
a {
	text-decoration: none;
	outline: medium none;
}


.view_content_file ul {
	margin: 0;
	padding-left : 20px;
}
.view_content_file ul li {
	list-style-type: disc ! important;
}
.view_content_file ol li {
	list-style-type: decimal ! important;
}
/*============================*/


.login_sign {
	float: right;
	margin: 55px 0 0;
	width: 21%;
}
.login_sign li {
	float: left;
	margin: 0 10px 0 0;
}
.login_sign a {
	color: #585252;
	display: block;
	font-family: "MyriadPro-Regular";
	font-size: 18px;
}
.login_sign a.active {
	color: rgb(46, 139, 161);
}
.banner {
	background-color: #59C9E4;
	min-height: 440px;
	width: 100%;
}
.banner_inner {
	position: relative;
}
.bnr_left {
	float: left;
	margin: 87px 0 0 38px;
	width: 52%;
}
.bnr_txt {
	color: #FFFFFF;
	font-size: 32px;
	width: 100%;
	font-family: "comic";
}
.bnr_l_txt {
	color: #262626;
	font-size: 18px;
	margin: 20px 0 0;
	width: 70%;
	font-family: "Helvetica_CE_Regular";
}
.free_signup {
	background-color: #F5F5F5;
	border: 1px solid #F5F5F5;
	border-radius: 10px;
	color: #F25B00;
	cursor: pointer;
	font-size: 28px;
	margin-top: 83px;
	padding: 13px 14px;
}
.bnr_rgt {
	float: right;
	position: absolute;
	right: -33px;
	top: 16px;
	width: 63%;
}
.abstor {
	float: right;
	width: 82%;
}
.txt_img {
	background-color: #F25B00;
	border: 4px solid #BDE9F4;
	float: right;
	margin: 0 -9px 0 0;
	min-height: 120px;
	width: 100%;
}
.downlod_logo {
	float: left;
	margin: 14px 0 0 18px;
	width: 15%;
}
.y_desc {
	float: left;
	margin: 24px 0 0 14px;
	width: 78%;
}
.drag_drop {
	font-size: 32px;
	width: 100%;
	font-family: "MyriadPro-Regular";
	font-weight: 700;
}
.y_desc_ul li {
	color: #FFFFFF;
	float: left;
}
.y_desc_ul a {
	background: url("../images/white_round.png") no-repeat scroll left center rgba(0, 0, 0, 0);
	color: #FFFFFF;
	display: block;
	font-family: "MyriadPro-Regular";
	font-size: 17px;
	margin: 6px 14px 0 0;
	padding: 0 0 0 16px;
}
.content {
	width: 100%;
}
.content .one_third {
	float: left;
	height: 310px;
	margin: 0 5px;
	width: 48.5%;
	position: relative;
}
.ot_icon > img {
	margin: -39px 0 0;
	position: relative;
}
.ot_icon {
	margin: 33px 0 0;
	text-align: center;
	width: 100%;
}
.top_bg {
	background: url("../images/box_image_top.png") no-repeat scroll center 0 rgba(0, 0, 0, 0);
	height: 91px;
}
.mid_bg {
	/*background: url("../images/box_image_center.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);*/
	background:#fff;
	margin-top: -41px;
	min-height: 220px;
	/*width: 100%;*/
	width:calc(100% - 4px);
	border-left: 2px solid #80c6d7;
    border-right: 2px solid #80c6d7;
}
.bottom_bg {
	/*background: url("../images/box_image_bottom.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);*/
	background:#fff;
	border-bottom: 2px solid #80c6d7;
	bottom: 0px;
	/*height: 15px;*/
	height: 0px;
	position: relative; 
}
.divider {
	border-bottom: 1px solid #CCCCCC;
	margin: 0 auto;
	padding: 10px 0 0;
	width: 70%;
}
.ot_hdg {
	color: #2E8BA1;
	font-family: "DroidSans";
	font-size: 28px;
	margin: 5px auto;
	text-align: center;
	width: 100%;
	font-weight: bold;
}
.ot_txt {
	color: #7C7C7C;
	font-family: arial;
	font-size: 15px;
	margin: 14px auto;
	width: 90%;
}
.one_third_outer {
	margin: 60px 0 20px;
	width: 100%;
}
.phone_wrap {
	margin: 52px 0 0;
	width: 100%;
}
.down_app {
	float: left;
	margin: 0 0 0 12px;
	width: 55%;
}
.down_app_hdg {
	color: #2E8BA1;
	font-family: arial;
	font-size: 26px;
	font-weight: bold;
}
.down_app_txt {
	color: #7D7D7D;
	font-family: arial;
	font-size: 18px;
	line-height: 27px;
	margin: 14px 0 0;
	width: 98%;
}
.download_app {
	background: none repeat scroll 0 0 #46BEDC;
	border: 1px solid #46BEDC;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 32px;
	height: 70px;
	margin: 55px 0 20px 70px;
	width: 353px;
	outline: none;
	-moz-border-radius: 10px;/*Firefox*/
	-webkit-border-radius: 10px;/*Safari, Chrome*/
	border-radius: 10px;
}
.down_device {
	float: left;
	margin: 24px 0 0 16px;
	width: 40%;
}
.share_wrap {
	width: 100%;
	position: relative; float:left;
}
.left > img {
	margin: 14px 0 0;
	width: 100%;
}
.share_wrap .left {
	width: 60%;
	float: left;
}
.share_hdg {
	color: #2E8BA1;
	font-family: arial;
	font-size: 24px;
	font-weight: bold;
	margin: 15px 0 0;
}
.share_txt {
	color: #7D7D7D;
	font-family: arial;
	font-size: 18px;
	line-height: 27px;
	margin: 14px 0 0;
	width: 98%;
}
.share_wrap .right {
	position: absolute;
	right: 0;
	top: 40px;
	width: 50%;
	padding: 0 3px 0 0;
}
.lower_content {
	background: none repeat scroll 0 0 #FFFFFF;
	padding: 0 0 14px;
	width: 100%; float:left;
}
.footer {
	background-color: #26292C;
	width: 100%;
	border-top: 4px solid #BDE9F4;
	clear: both;
}
.footer .one_fifth {
	float: left;
	margin: 0 11px;
	padding: 0 0 0 7px;
	width: 50%;
}
.footer .one_fifth1 {
	float: right;
	margin: 0 11px;
	padding: 0 0 0 7px;
	width: 40%;
}
.product {
	float: left;
	margin-top: 13px;
}
.product li {
	list-style: none outside none;
	float: left;
	padding: 0px 0px 0px 26px;
}
.product li a {
	color: #A9A9A9;
	font-family: "OpenSans-Regular";
	font-size: 14px;
}
.product li a.active {
	color: #fff;
}
.of_hdg {
	color: #DBDBDB;
	font-size: 16px;
	font-weight: bold;
	margin: 12px 0 14px;
	width: 11%;
	float: left;
	font-family: "OpenSans-Regular";
}
.footer_inner {
	padding: 10px 0 20px;
	width: 100%;
}
.footer_divider {
	border-bottom: 1px solid #777777;
	width: 100%;
}
.sub_footer {
	font-family: "OpenSans-Regular";
	font-size: 14px;
	padding: 10px 0;
	width: 100%;
}
.sub_footer a {
	color: #777777;
}
.sub_footer a.active {
	color: #fff;
}
.sub_footer .lft {
	color: #777777;
	float: left;
	width: 40%;
}
.sub_footer .rgt {
	float: right;
	width: 26%;
	color: #777777;
}
.social_li {
	float: left;
	width: 78%;
	margin-left: 40px;
	margin-top: 11px;
}
.social_li li {
	list-style: none outside none;
	float: left;
	padding-left: 52px;
	height: 40px;
	margin-top: -9px;
	width: 24px;
}
.social_li a {
	color: #A9A9A9;
	font-family: "OpenSans-Regular";
	font-size: 14px;
}
.social_li li:nth-child(1) {
	/*background: url(../images/facebook.png) no-repeat;*/
	padding: 0 0 10px 36px;
}
.social_li li:nth-child(2) {
	/*background: url(../images/g+.png) no-repeat;*/
	padding: 0 0 10px 36px;
}
.social_li li:nth-child(3) {
	/*background: url(../images/twitter.png) no-repeat;*/
	padding: 0 0 10px 36px;
}
.social_li li:nth-child(4) {
	/*background: url(../images/you_tube.png) no-repeat;*/
	padding: 0 0 10px 36px;
}
/*  About Us  */


.page_title {
	color: #2E8BA1;
	font-family: arial;
	font-size: 26px;
	font-weight: bold;
	padding: 21px 10px 9px;
}
.divider_full {
	border: 1px solid #CCCCCC;
	margin: 0 auto;
	width: 98%;
}
.about_content .lft {
	float: left;
	margin: 19px 0 0;
	width: 24%;
}
.about_content .rgt {
	float: right;
	width: 72%;
}
.about_content p {
	color: #5F5F5F;
	font-family: arial;
	font-size: 15px;
	text-align: justify;
}
/*.wide_text {
    padding: 0 8px 52px 8px;
}*/

/*  Blog  */



.blog_content {
	margin: 30px 0 0;
	width: 100%;
}
.blog_img {
	float: left;
	width: 31%;
}
.blog_img img{ width:100%; height:auto;}
.blog_desc {
	float: right;
	width: 67%;
}
.news_date {
	width: 40%;
}
.note_logo {
	float: left;
	width: 21px;
}
.news {
	float: left;
	text-align: center;
	width: 90px;
	color: #42bad7;
	font-size: 16px;
	font-family: arial;
}
.date {
	float: left;
	width: 100px;
	color: #858585;
	font-size: 16px;
	font-family: arial;
}
.b_hdg {
	color: #2E8BA1;
	font-family: arial;
	font-size: 20px;
	margin: 20px 0 0;
}
.blog_pgraph {
	color: #7D7D7D;
	font-family: arial;
	font-size: 14px;
	margin: 16px 0 0;
	width: 100%;
}
.blog_inner {
	width: 100%;
	margin: 20px 0 0 0;
	color: #7D7D7D;
	font-family: arial;
	font-size: 14px;
	margin: 16px 0 0;
	width: 100%;
	float: left;
	line-height: 22px;
}
.inner_part {
	border: none !important;
}
.read_more {
	color: #4899AC;
}
.social_blog li {
	float: left;
	margin: 0 12px 0 0;
}
.social_blog {
	margin: 14px 0 0;
}
.social_blog li a {
	color: #7D7D7D;
}
.blog_part {
	border-bottom: 1px solid #CCCCCC;
	margin: 0 auto;
	padding: 25px 0;
	width: 99%;
}
.blog {
	background: none repeat scroll 0 0 #39B7D6;
	border: medium none;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 30px;
	height: 62px;
	margin: 0 auto;
	outline: medium none;
	width: 100%;
	-moz-border-radius: 10px;/*Firefox*/
	-webkit-border-radius: 10px;/*Safari, Chrome*/
	border-radius: 10px;
}
.blog_btn {
	margin: 36px auto;
	width: 32%;
}
.read_more {
}
.blog_pgraph a {
	color: #4899AC;
	font-weight: 900;
}
.blog_pgraph a:hover {
	color: #585252;
	font-weight: 900;
	text-decoration: underline;
}
.social_blog li {
	float: left;
	margin: 0 12px 0 0;
}
.social_blog {
	margin: 14px 0 0;
}
.social_blog li a {
	color: #7D7D7D;
}
.blog_part {
	border-bottom: 1px solid #CCCCCC;
	margin: 0 auto;
	padding: 25px 0;
	width: 99%;
}
.blog {
	background: none repeat scroll 0 0 #39B7D6;
	border: medium none;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 30px;
	height: 62px;
	margin: 0 auto;
	outline: medium none;
	width: 100%;
	-moz-border-radius: 10px;/*Firefox*/
	-webkit-border-radius: 10px;/*Safari, Chrome*/
	border-radius: 10px;
}
.blog_btn {
	margin: 36px auto;
	width: 32%;
}
.blog_btn strong {
	background-color: #39B7D6 !important;
	color: #FFF !important;
	font-size: 21px !important;
	border: medium none !important;
	-moz-border-radius: 2px !important;
	-webkit-border-radius: 2px !important;
	border-radius: 2px !important;
	border-color: #39B7D6 !important;
	padding: 1px 1px 4px 1px;
}
.blog_btn a {
	color: #2E8BA1;
	font-size: 21px !important;
	padding: 1px 7px 3px 7px;
	border: 1px solid rgb(57, 183, 214);
	-moz-border-radius: 2px !important;
	-webkit-border-radius: 2px !important;
	border-radius: 2px !important;
}
/* Buisness */
.buis_banner {
	background: url(../images/business_image1.png) no-repeat;
	min-height: 440px;
	width: 100%; float:left;
}
.mac_wrap {
	width: 100%;
}
.mac_wrap_left {
	float: left;
	margin: 36px 0 0 12px;
	width: 55%;
}
.down_app2 {
	float: right;
	margin: 30px 0 0 12px;
	width: 55%;
}
.down_device2 {
	float: left;
	margin: 34px 0 0 16px;
	width: 40%;
}
.content.bottom_border {
	border-bottom: 1px solid #CCCCCC;
}
.bottom_signup {
	margin: 0 auto;
	width: 50%;
	font-family: arial;
}
.bot1 {
	color: #6B6B6B;
	font-size: 18px;
	padding: 46px 0 8px;
	text-align: center;
}
.bot2 {
	color: #6B6B6B;
	font-size: 18px;
	text-align: center;
}
.bot_frm {
	margin: 14px auto;
	width: 54%;
}
.bot_fld {
	float: left;
	width: 170px;
}
.bot_fld > input {
	border: 1px solid #CCCCCC;
	color: #CCCCCC;
	height: 23px;
	width: 100%;
	padding: 0 0 0 2px;
}
.bot_slogan {
	background-color: #424143;
	color: #FFFFFF;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: center;
	width: 86px;
}
.bot_slogan a {
	color: #FFFFFF;
	display: block;
	padding: 4px 14px 5px;
}
.mac_right > img {
	margin: 37px 0 0 40px;
}
/*  Carrier  */



.about_content .careess {
	float: right;
	width: 48%;
}
.about_content .lft1 {
	float: left;
	margin: 19px 0 0;
	width: 49%;
}
.about_content {
	padding: 0 10px;
}
.careess p {
	color: #5F5F5F;
	font-family: arial;
	font-size: 18px;
	line-height: 34px;
	text-align: justify;
	font-family: "Lato-Reg";
}
.heading1 {
	color: #1D749E;
	font-size: 34px;
	font-family: "MyriadPro-Regular";
	margin: 10px 0 0;
}
.heading2 {
	font-size: 24px;
	color: #1d749e;
	font-family: "MyriadPro-Regular";
}
.careess_wide_text p {
	color: #5F5F5F;
	font-family: "Lato-Reg";
	font-size: 14px;
	line-height: 26px;
}
.careess_wide_text {
	border-top: 1px solid #CCCCCC;
	margin: 36px 0 76px;
	padding: 20px 0 0;
}
.lft1 img {
	width: 100%;
}
/*.about_content .careess {
    padding: 0 2px 0 0;
    width: 100%;
}*/


/* Contact Us  */


.contact_us {
	width: 100%;
}
.field_part {
	margin: 30px 0 6px 18px;
	width: 87%;
}
.contact_us .left {
	float: left;
	width: 49%;
}
.contact_us .right {
	float: left;
	width: 49%;
}
.frm_lbl {
	color: #7D7D7D;
	font-family: arial;
	font-size: 16px;
	padding: 10px 0;
	width: 100%;
}
.frm_fld {
	width: 100%;
}
.frm_fld input {
	border: 1px solid #CCCCCC;
	height: 36px;
	outline: medium none;
	width: 70%;
	padding: 0 0 0 4px;
}
.contact_banner {
	background: url("../images/contact_us_image1.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	min-height: 440px;
	width: 100%;
}
.frm_fld select {
	border: 1px solid #CCCCCC;
	padding: 9px 3px;
	width: 70%;
	line-height: 30px;
}
.frm_fld textarea {
	border: 1px solid #CCCCCC;
	height: 148px;
	outline: medium none;
	padding: 3px 0 0 4px;
	width: 82.4%;
}
.submit {
	background-color: #4CC1DF;
	border: medium none;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 18px;
	margin: 14px 0 50px 17px;
	outline: medium none;
	padding: 10px 25px;
	-moz-border-radius: 10px;/*Firefox*/
	-webkit-border-radius: 10px;/*Safari, Chrome*/
	border-radius: 10px;
}
/*  Create Folder */

.sidebar > li a:hover {
	color: #42bad7;
}
.side_navigation {
	float: left;
	margin: 0 0 36px;
	width: 30%;
}
.cf_content {
	float: right;
	width: 68%;
}
.accord_content {
	background: #fff;
	margin: 0 0 24px 0;
}
.heading3 {
	background: none repeat scroll 0 0 #42BAD7;
	color: #FEFEFE;
	font-size: 24px;
	padding: 10px 0 10px 16px;
	;
	font-family: "Lato-Reg";
}
.sidebar > li {
	border-bottom: 1px solid #CCCCCC;
	color: #777777;
	font-size: 14px;
	margin: 0;
	padding: 11px 0 11px 14px;
	font-family: "Lato-Reg";
}
.sidebar > li a {
	background: url("../images/create-folder%20image1.png") no-repeat scroll left center rgba(0, 0, 0, 0);
	color: #777777;
	padding: 0 0 0 20px;
}
.sidebar > li a:hover {
	color: #42bad7;
}
.sidebar > li a.active {
	color: #42bad7;
}
.heading4 {
	background: none repeat scroll 0 0 #d8d8d8;
	color: #3e3e3e;
	font-family: "Lato-Reg";
	font-size: 24px;
	padding: 10px 0 10px 16px;
}
.notification {
	background: none repeat scroll 0 0 #FFFFFF;
}
.noti_inner {
	float: right;
	width: 21%;
	position: relative;
}
.noti_inner li {
	float: left;
	margin: 0 0 0 20px;
	padding: 11px 0 3px;
}
.folder_name_wrap {
	width: 100%;
}
.fn_icon {
	float: left;
	margin: 9px 0 0 24px;
	width: 39px;
}
.fn_btn {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #777777;
	color: #4C4C4C;
	float: left;
	font-size: 18px;
	margin: 9px 0 0 10px;
	text-align: center;
	font-family: "Lato-Reg";
}
.fn_btn a {
	color: #4C4C4C;
	display: block;
	padding: 7px 18px;
}
.pdf_wrap {
	background-color: #FFFFFF;
	margin: 7px 0 40px;
	padding: 0 0 0px;
	;
}
.share_folder {
	color: #4C4C4C;
	float: right;
	font-family: "Lato-Reg";
	font-size: 16px;
	padding: 12px 9px 12px 0;
	text-align: right;
	width: 60%;
}
.pdf_name li {
	float: left;
	text-align: center;
}
.pdf_name li:nth-child(1) {
	width: 9%;
}
.pdf_name li:nth-child(2) {
	padding: 4px 0 0;
	width: 33%;
}
.pdf_name li:nth-child(3) {
	width: 25%;
	padding: 4px 0 0;
}
.pdf_name li:nth-child(4) {
	padding: 4px 0 0;
	width: 18%;
}
.pdf_name li:nth-child(5) {
	padding: 6px 0 0;
	width: 12%;
}
.pdf_name li:nth-child(6) {
	margin: 5px 0 0;
	width: 13%;
}
.pdf_name {
	border-bottom: 1px solid #CCCCCC;
	color: #a4a4a4;
	float: right;
	font-family: "Lato-Reg";
	font-size: 14px;
	padding: 12px 0px 12px 0;
	text-align: right;
	width: 90%;
	border-top: 1px solid #CCCCCC;
	margin: 0 0 20px;
}
.fn_btn1 {
	color: #4C4C4C;
	float: left;
	font-family: "Lato-Reg";
	font-size: 18px;
	margin: 23px 0 0 10px;
	text-align: center;
}
.folder_name_wrap.second {
	margin: 78px 0 7px 1px;
}
.ad_width {
	width: 43% !important;
}
.sidebar {
	background: none repeat scroll 0 0 #FFFFFF;
}
.create_folder_wrap {
	margin: 36px 0 0;
}
.heading5 {
	color: #1D749E;
	font-size: 24px;
	font-family: "MyriadPro-Regular";
}
.pdf_wrap.remove_mar {
	margin: 0 0 48px;
}
.noti_inner.oth {
	margin: 9px 22px 0 0;
}
.cf {
	border: 1px solid #CCCCCC;
	height: 32px;
	margin: 14px 0 19px 28px;
	padding: 0 0 0 36px;
	width: 66%;
}
.clf {
	float: left;
	position: relative;
	width: 69%;
}
.clf > img {
	left: 32px;
	position: absolute;
	top: 22px;
}
/*  My Friend  */

.my_friends {
	width: 50%;
	font-family: "MyriadPro-Regular";
}
.mf_left_inbox {
	float: left;
	margin: 22px 0 0 17px;
	width: 17%;
	padding-bottom:15px;
}

.mf_left {
	float: left;
	margin: 22px 0 0 17px;
	width: 14%;
	padding-bottom:15px;
}
.mf_right {
	float: left;
	font-size: 14px;
	margin: 25px 0 0 10px;
	width: 69%;
}
.sky {
	color: #03b0f0;
}
.mf_hdg_2 {
	margin: 4px 0 0;
}
.mf_hdg_1 {
	margin: 6px 0 0;
}
.msg_hdg {
	margin: 0 auto;
	padding: 19px 0 0;
	width: 95%;
}
.msg_name {
	float: left;
	width: 50%;
	font-family: "Lato-Reg";
	font-size: 15px;
	color: #5d5d5d;
	margin-top:5px;
}
.msg_date {
	float: right;
	text-align: right;
	width: 20%;
	color: #666666;
	font-family: "Lato-Reg";
	font-size: 13px;
}
.msg_pgrph {
color: rgb(76, 76, 76);
font-family: "Lato-Reg";
font-size: 14px;
margin: 13px 0 15px;
width: 81%;
text-align: left;
float: left;
}
.message_wrap {
	border-bottom: 1px solid #CCCCCC;
}
.my_msg_txt {
	margin: 18px auto;
	width: 94%;
	position:relative;
}
.my_msg_txt textarea {
	border: 1px solid #CCCCCC;
	height: 130px;
	width: 99%;
}
.my_msg_txt textarea {
	border: 1px solid #CCCCCC;
	height: 130px;
	padding: 4px 0 0 5px;
	width: 99%;
	font-family: "Lato-Reg";
	font-size: 14px;
}
.send {
	background-color: #3BB9D7;
	border: medium none;
	-moz-border-radius: 4px;/*Firefox*/
	-webkit-border-radius: 4px;/*Safari, Chrome*/
	border-radius: 4px;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 18px;
	margin: 10px 0 0 20px;
	outline: medium none;
	padding: 10px 25px;
}
.pdf_name.full_msg {
	margin: 20px 0 0;
	padding: 6px 9px 6px 0;
	width: 98.7%;
}
.files {
	padding: 4px 0 0!important;
	text-align: right!important;
	width: 24%!important;
}
.files_width {
	width: 42% !important;
	text-align: right!important;
}
/* My Upload */

.upload_wrap {
	margin: 0 auto;
	padding: 25px 0 0;
	width: 96%;
}
.upload_inner {
	border: 1px solid #CCCCCC;
	margin: 0 auto;
	width: 100%;
}
.upload_content {
	margin: 36px auto;
	width: 55%;
}
.upload_logo {
	width: 29%;
	float: left;
}
.upload_line {
	color: #000000;
	float: right;
	font-family: "MyriadPro-Regular";
	font-size: 24px;
	font-weight: 600;
	padding: 27px 0 0;
	width: 68%;
}
.upload {
	background-color: #4CC1DF;
	border: medium none;
	color: #FFFFFF;
	cursor: pointer;
	float: right;
	font-size: 18px;
	margin: 30px 12px 50px 0;
	outline: medium none;
	padding: 10px 25px;
	-moz-border-radius: 4px;/*Firefox*/
	-webkit-border-radius: 4px;/*Safari, Chrome*/
	border-radius: 4px
}
/*  My Profile  */


.my_profile {
	margin: 0 auto;
	width: 94%;
}
.profile_pic {
	float: left;
	width: 14.3%;
}
.p_tags {
	float: left;
	margin: 0 0 0 13px;
	width: 50%;
}
.pro_1 {
	font-family: "Lato-Reg";
	font-size: 20px;
	font-weight: 500;
	margin: 6px 0 3px;
}
.pro_2 {
	color: #42bad7;
	font-family: "Lato-Reg";
	font-size: 14px;
	margin: 3px 0 6px;
}
.pro_2 a {
	color: #42bad7;
}
.pro_3 {
	font-family: "Lato-Reg";
	font-size: 16px;
	color: #4c4c4c;
}
.set_hdg {
	color: #42BAD7;
	font-size: 20px;
	margin: 0 auto;
	padding: 11px 0;
	width: 95%;
	font-family: "Lato-Reg";
}
.set_check {
	color: #777777;
	font-size: 16px;
	margin: 6px auto;
	width: 95%;
	font-family: "Lato-Reg";
}
.set_select {
	margin: 0 auto;
	width: 95%;
}
.set_select select {
	border: 1px solid #CCCCCC;
	color: #777777;
	font-family: "Lato-Reg";
	padding: 8px 4px;
	width: 35%;
	-moz-border-radius: 5px 5px 5px;/*Firefox*/
	-webkit-border-radius: 5px 5px 5px;/*Safari, Chrome*/
	border-radius: 5px 5px 5px;
}
/*    Notification	  */


.noti_wrap {
	position: absolute;
	right: 252px;
	top: 93px;
	width: 250px;
	z-index:0;
	background-color: #ededed;
}
.upper_strip {
	background-color: #585252;
	height: 12px;
	position: relative;
}
.noti_tag {
	color: #646464;
	font-size: 16px;
	margin: 5px auto;
	width: 90%;
	font-family: "calibri";
}
.lower_strip {
	background-color: #585252;
	color: #FFFFFF;
	font-family: "calibri";
	font-size: 16px;
	padding: 1px 12px 2px 0;
	text-align: right;
}
.lower_strip a{
	color: #FFFFFF;
}
.lower_strip a:hover{
	text-decoration:underline;
}


.noti_full_part {
	border-top: 1px solid #F9F9F9;
	margin: 2px auto;
	padding: 7px 0;
	width: 90%;
}
.noti_img {
	float: left;
	width: 40px;
}
.noti_cnt {
	float: left;
	margin: 0 0 0 16px;
	width: 74%;
	font-family: "calibri";
}
.noti_ttl {
	color: #08B2F0;
	font-size: 16px;
}
.noti_sub_ttl {
	background: url("../images/notification%20image2.png") no-repeat scroll left center rgba(0, 0, 0, 0);
	font-size: 13px;
	padding: 0 0 0 15px;
	color: #5f5f5f;
}
.noti_date {
	font-size: 13px;
	padding: 0 0 0 15px;
	color: #5f5f5f;
}
.n_aroow {
	bottom: 11px;
	position: absolute;
	right: 116px;
}
/*  Reset Password  */


.reset_pass {
	margin: 0 auto;
	width: 95%;
}
.reset_slogan {
	color: #7D7D7D;
	float: left;
	font-family: arial;
	font-size: 16px;
	padding: 10px 0 11px;
	width: 25%;
}
.reset_pass {
	margin: 0 auto;
	padding: 25px 0 1px;
	width: 95%;
}
.reset_fld {
	float: left;
	width: 70%;
}
.reset_fld input {
	border: 1px solid #CCCCCC;
	height: 36px;
	padding: 0 0 0 5px;
	width: 60%;
}
.reset_btn {
	margin: 0 0 0 161px;
	width: 30%;
}
/*  Security  */

.sec_uper {
	width: 100%;
}
.sec_left_img {
	float: left;
	margin: 52px 0 0 46px;
	width: 30%;
}
.sec_right_cnt {
	float: left;
	margin: 36px 0 0 80px;
	width: 52%;
}
.security_pgrph {
	color: #777777;
	font-family: arial;
	font-size: 16px;
	line-height: 29px;
	margin: 11px 0 0;
}
.sec_mdl {
	border-bottom: 1px solid #CCCCCC;
	padding: 44px 0 36px;
	width: 100%;
}
.sec_left_cnt {
	float: left;
	margin: 0;
	width: 67%;
}
.sec_right_img {
	float: left;
	margin: 44px 0 0 80px;
	width: 24%;
}
.security_pgrph > ul {
	margin: 24px 0 0 26px;
}
.security_pgrph li {
	background: url("../images/create-folder%20image1.png") no-repeat scroll left center rgba(0, 0, 0, 0);
	padding: 0 0 0 18px;
}
.sec_last {
	width: 100%;
	margin: 44px 0 40px;
}
.sec_last .third {
	float: left;
	margin: 0 16px 0 14px;
	width: 30%;
}
.sec_last_img {
	margin: 0 auto;
	width: 36%;
}
.sec_last_hdg {
	color: #1D749E;
	font-size: 24px;
	margin: 19px 0 3px;
	text-align: center;
	font-family: "MyriadPro-Regular";
}
.sec_last_pgraph {
	color: #5F5F5F;
	font-family: "Lato-Reg";
	font-size: 16px;
	margin: 7px 0 10px;
	text-align: center;
	width: 100%;
}
/*  Rajat  */

/*-------login page--*/
.login_inner {
	border: 1px solid #CCC;
	margin-top: 41px;
	background: #fff;
	margin-bottom: 82px;
}
.login_in {
	margin: 14px 0px 29px 19px;
	width: 96%;
}
.welcome {
	color: #2E8BA1;
	font-family: arial;
	font-size: 26px;
	font-weight: bold;
	padding: 0px 0 9px 0px;
}
.divider_full_lo {
	border: 1px solid #CCCCCC;
	margin: 0 auto;
	width: 100%;
}
.login_content {
	margin-top: 10px;
}
.login_content_lft {
	width: 58%;
	float: left; position:relative;
}
.login_txt {
	color: #7d7d7d;
	font-family: Arial;
	font-size: 16px;
	width: 80%;
}
.icon_text {
	padding-top: 23px;
	float: left;
	width: 98%;
}
.log_icon {
	float: left;
}
.log_text {
	float: right;
	width: 84%;
}
.tx {
	text-align: left;
	font-family: Arial;
	font-size: 16px;
}
.log_tx {
	color: #7d7d7d;
	font-family: Arial;
	font-size: 14px;
	padding-top: 7px;
	line-height: 20px;
}
.login_content_rght {
	float: right;
	width: 40%;
	margin-top: 16px;
	margin-right: 13px;
}
.sign {
	color: #010101;
	float: left;
	font-family: Arial;font-weight: bold;
}
.create {
	float: right;
	color: #2e8ba1;
	float: right;
	font-family: Arial;
}
.email_log {
	float: left;
	width: 93%;
	margin-top: 40px;
}
.email {
	float: left;
	color: #7d7d7d;
	font-family: Arial, Helvetica, sans-serif;
	padding-bottom: 9px;
	width: 100%;
}
.email_inp {
	width: 100%;
	height: 27px;
	outline: none;
	border: 1px solid #CCC;
	padding: 0 0 0 4px;
}
.inp_rem {
	margin: 0 0 0 -3px;
	padding-top: 11px;
}
.remem {
	font-family: Arial, Helvetica, sans-serif;
	color: #7d7d7d;
	font-size: 14px;
	padding-top: 2px;
}
.ch {
	float: left;
}
.inpu {
	float: left;
}
.log_sub {
	background-image: url(../images/login%20image6.png);
	background-repeat: no-repeat;
	width: 127px;
	padding: 14px 0px 14px 0px;
	outline: none;
	border: none;
	border-radius: 3px;
	float: left;
	font-size: 15px;
	color: #fff;
	cursor: pointer;
	margin: 20px 0px 0px 0;
}
.log_reset {
	float: left;
	width: 100%;
	color: #2eb1d1;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	padding-top: 13px;
}
/*-------login page--*/

/*-------product page--*/
.pro_tit {
	color: #2e8ba1;
	font-size: 25px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	float: left;
	padding: 22px 0px 22px 0px;
}
.our_pro {
	color: #7d7d7d;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	float: left;
	padding-bottom: 22px;
}
.pro_outside {
	background-color: #FFF;
	border: 1px solid #CCC;
	margin-bottom: 100px;
	padding-bottom: 41px;
}
.pro_out_border {
	border-top: 1px solid #b1b1b1;
	padding-bottom: 24px;
}
.pro_inner {
	margin: 18px 0px 0px 22px;
	width: 96%;
}
.pro_con_lft {
	float: left;
	width: 72%;
}
.pro_dia {
	float: left;
}
.pro_conten {
	float: right;
	width: 71%;
	margin: 23px 0px 0px 0px
}
.vonotes {
	color: #2e8ba1;
	float: left;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	padding: 0px 0px 10px 0px;
}
.von_lo {
	color: #7d7d7d;
	float: left;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	padding: 0px 0px 10px 0px;
	font-style: italic;
}
.von_lorem {
	color: #7d7d7d;
	float: left;
	font-size: 16px;
	line-height: 25px;
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	padding: 0px 0px 10px 0px;
}
.Learn_pro {
	color: #2e8ba1;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	padding: 0px 0px 0px 0px;
}
.pro_ar {
	padding-left: 4px;
}
.pro_con_rght {
	float: right;
	margin-top: 23px;
	width: 25%;
}
.phn_txt {
}
.phn_pro {
	float: left;
}
.pro_for {
	color: #7d7d7d;
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	padding: 0px 0px 10px 28px;
	font-size: 18px;
}
.pro_phn_ul {
	padding-left: 28px;
	line-height: 26px;
}
.pro_phn_ul li {
	color: #7d7d7d;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}
.hori_pro {
}
/*-------product page--*/

/*-------signup starts--*/
.by_click {
	padding-top: 15px;
	font-size: 14px;
	color: #7d7d7d;
	font-family: Arial, Helvetica, sans-serif;
}
.term_si, .sign_pri {
	color: #2e8ba1;
}
/*-------signup ends--*/


/*  video  */

.video_content .video {
	float: right;
	width: 48%;
}
.video_content .lft1 {
	float: left;
	margin: 6px 0 0;
	width: 49%;
}
.video_content {
	padding: 40px 10px;
}
.video p {
	color: #5F5F5F;
	font-family: arial;
	font-size: 17px;
	line-height: 22px;
	text-align: justify;
	font-family: "Lato-Reg";
}
.heading_vi {
	color: #1D749E;
	font-size: 25px;
	font-family: "MyriadPro-Regular";
}
.lft1 img {
	width: 100%;
}
.video_img {
	float: left;
	width: 20.4%;
}
.video_desc {
	float: right;
	width: 71%;
}
.video_part {
	padding: 25px 0;
}
.v_hdg {
	color: #2E8BA1;
	font-family: arial;
	font-size: 20px;
	margin: 0px 0 0;
}
.video_pgraph {
	color: #7D7D7D;
	font-family: arial;
	font-size: 14px;
	margin: 11px 0 0;
	width: 100%;
	line-height: 23px;
	text-align: justify;
}
/*  video  */

/*premium*/
.men_women {
	float: right;
	width: 72%;
}
.men_women img {
	width: 100%;
}
.pre_l_txt {
	color: #262626;
	font-size: 18px;
	margin: 20px 0 0;
	width: 88%;
	font-family: "Lato Regular";
	line-height: 27px;
}
.free_prem {
	background-color: #F25B00;
	border: 1px solid #F5F5F5;
	color: #FFF;
	cursor: pointer;
	font-size: 28px;
	margin-top: 94px;
	outline: none;
	padding: 13px 22px;
	-moz-border-radius: 10px;/*Firefox*/
	-webkit-border-radius: 10px;/*Safari, Chrome*/
	border-radius: 10px;
}
.prem_rgt {
	float: right;
	position: absolute;
	right: 0;
	top: 6px;
	width: 59%;
}
.prem_wrap {
	margin: 36px 0 0;
	width: 100%;
}
.down_prem_hdg {
	color: #2E8BA1;
	font-family: arial;
	font-size: 26px;
	font-weight: bold;
}
.divider_full_prem {
	border: 1px solid #CCCCCC;
	margin: 8px 0px 22px 0px;
	width: 100%;
}
.prem_icon_one {
	width: 49%;
	margin-bottom: 63px;
	float: left;
}
.ico_imag {
	width: 24%;
	float: left;
}
.icon_one_rgt {
	width: 73%;
	float: right;
}
.one_title {
	color: #1d749e;
	font-size: 24px;
	font-family: "myriad Pro";
}
.one_cont {
	color: #5f5f5f;
	font-size: 14px;
	font-family: "Lato Regular";
	line-height: 24px;
	padding-top: 9px;
}
.prem_icon_two {
	width: 47%;
	float: right;
	margin-bottom: 63px;
}
.prem_icon_four {
	width: 47%;
	float: right;
	margin-bottom: 63px;
}
.prem_icon_three {
	width: 49%;
	margin-bottom: 63px;
	float: left;
}
.divider_full_preme {
	border: 1px solid #CCCCCC;
	margin: 0px 0px 22px 0px;
	width: 100%;
}
.prem_cont_last {
	border: 1px solid #CCC;
	background: #fff;
	margin-bottom: 26px;
}
.prem_cnt_inner {
	margin: 14px 0px 38px 19px;
}
.down_cont_hdg {
	color: #2E8BA1;
	font-family: "myriad Pro";
	font-size: 24px;
	padding-bottom: 7px;
}
.last_cont {
	color: #5f5f5f;
	font-size: 16px;
	font-family: "Lato Regular";
	width: 84%;
	line-height: 23px;
	float: left;
}
.content_last {
	width: 98%;
}
.last_buy {
	background-image: url(../images/premium%20image6.png);
	background-repeat: no-repeat;
	width: 141px;
	height: 41px;
	outline: none;
	border: none;
	cursor: pointer;
	margin: 0 0 0 10px;
}
.pdf_name a {
	color: #A4A4A4;
}
.log_reset a {
	color: #2EB1D1;
}
.check_mrgn {
	display: block;
	float: left;
	width: 89%;
	margin: 3px 0 0;
}
.check_inside {
	float: left;
	width: 20px;
	height: 22px;
}
 @-moz-document url-prefix() {
 .bottom_bg {
 bottom: 0px;
 position: relative;
}
}
.noti_sub_ttl-frnd {
	color: #5F5F5F;
	font-size: 13px;
}
.file_hdg {
	font-family: "Lato-Reg";
	font-size: 29px;
	font-weight: 500;
	margin: 0;
	padding: 22px 0 18px 18px;
	width: 100%;
}
.pdf_name.folder li:nth-child(2) {
	padding: 10px 0 0;
}
.pdf_name.folder li:nth-child(3) {
	padding: 10px 0 0;
}
.pdf_name.folder li:nth-child(4) {
	padding: 10px 0 0 15%;
}
.pdf_name.folder li:nth-child(5) {
	padding: 10px 0 0;
}
/* pop up   */



.pop_wrap {
	margin: 0 auto;
	max-width: 400px;
	font-family: "MyriadPro-Regular";
}
.pop_label {
	float: left;
	font-family: "MyriadPro-Regular";
	padding: 4px 0 0;
	width: 100px;
}
.pop_field input[type="text"] {
	border: 1px solid #CCCCCC;
	height: 30px;
	margin: 0 0 0 9px;
	width: 50%;
	padding: 0 0 0 4px;
	-moz-border-radius: 5px;/*Firefox*/
	-webkit-border-radius: 5px;/*Safari, Chrome*/
	border-radius: 5px;
}
.pop_field input[type="file"] {
	margin: 0 0 0 9px;
}
.pop_field {;
	width: 98%;
}
.pop_fol_wrap {
	margin: 22px 0 25px;
}
.ok {
	background-color: #4CC1DF;
	border: medium none;
	border-radius: 10px;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 18px;
	margin: 0 0 0 10px;
	outline: medium none;
	padding: 10px 25px;
}
/* My Friend Detail  */

.as {
    width: 39%;
}

.send_msg {
    background: none repeat scroll 0 0 #2BB0D0;
    border: medium none;
    color: #FFFFFF;
    font-size: 16px;
    outline: medium none;
    padding: 8px 14px;
	cursor:pointer;
	-moz-border-radius: 3px;/*Firefox*/
	-webkit-border-radius: 3px;/*Safari, Chrome*/
	border-radius: 3px;
	margin:10px 0 0 0;
}
.del_frd{
	background: none repeat scroll 0 0 #c8c8c8;
    border: medium none;
    color: #333;
    font-size: 16px;
    outline: medium none;
    padding: 8px 14px;
	cursor:pointer;
	-moz-border-radius: 3px;/*Firefox*/
	-webkit-border-radius: 3px;/*Safari, Chrome*/
	border-radius: 3px;
	margin:10px 0 0 0;
	}

.user {
    margin: 18px auto 12px;
    width: 94%;
}

.usr_img {
    float: left;
    width: 58px;
}


.usr_txt {
    float: left;
    margin: 0 0 0 7px;
    width: 30%;
}

.u_name {
    color: #4C4C4C;
    font-family: lato-reg;
    font-size: 18px;
    margin: 4px 0 0;
}

.u_desc {
    color: #B5B5B5;
    font-family: lato-reg;
    font-size: 14px;
}

.asd {
    padding: 32px 0 0;
}

.btn {
    float: right;
    width: 45%;
}
.noti_wrap{
 display:none;
 }

.noti_inner.oth li:hover .noti_wrap{
 display:none;
 position:absolute;
  top: 40px;
 }
 
.noti_full_part:hover {
    background: none repeat scroll 0 0 #D8D8D8;
    margin: 2px auto;
    padding: 7px 12px;
    width: 91%;
}


/*-----------Forget password---------*/
.email_log_pas {
	float: left;
	width: 93%;
	margin-top: 20px;
}
.emailid {
	float: left;
	color: #7d7d7d;
	font-family: Arial, Helvetica, sans-serif;
	padding-bottom: 9px;
	width: 13%;
}
.email_pas {
	width: 50%;
	height: 27px;
	outline: none;
	border: 1px solid #CCC;
	padding: 0 0 0 4px;
}
/*-----------------friend request------------------*/
.ignor input
{
    background: none repeat scroll 0 0 #cecece;
    border: medium none;
    border-radius: 3px;
    color: #000;
    cursor: pointer;
    font-size: 15px;
    margin: 10px 0 0;
    outline: medium none;
    padding: 6px 16px;
	float:right;
}
.confirm input
{
    background: none repeat scroll 0 0 #2BB0D0;
    border: medium none;
    border-radius: 3px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 15px;
    margin: 10px 0 0;
	float:left;
    outline: medium none;
    padding: 6px 12px;
}
/*---------------------Update_profile--------------*/
.update_pro_field{
float:left; color:#7d7d7d; font-family:Arial, Helvetica, sans-serif;padding-bottom: 9px; width:20%;}
.update_txtfield{ border: 1px solid #CCCCCC;
    height: 39px;
    outline: medium none;
    padding: 0 0 0 4px;
    width: 40%;
}
.textarea{
	width:70%;
	height:200px;
	float:left;
	resize: none;
}
.email_log_update{
    float: left;
    margin-top: 20px;
    width: 93%;
	margin-left: 3%;}
	
.update_btn{
	float: left;
    margin: 10px 0 0 21.5%;
    width: 45%;}
	
.send_msg.save {
    padding: 10px 30px;
	margin:0 4% 0 0;
}

.del_frd.cancel {
    padding: 10px 30px;
}
/*-------------Send message------------*/

.send_message {
    background: none repeat scroll 0 0 #D8D8D8;
    font-family:"Lato-Reg";
    font-size: 18px;
    padding: 10px 13px;
	color: #3E3E3E;
}
.message {
    margin:0;
    width: 100%;
}

.msg_textarea {
    height: 118px;
    margin: 10px 0;
    resize: none;
    width: 80%;
}
.message_txt{
	width:100%;
	color:#2e8ba1;
	font-size:20px;
	font-family:Arial, Helvetica, sans-serif;
}
.msg_block{
	margin-left:3%;
	
}
.msg_btn{
    float: left;
    margin: 0 0 0 3%;
}
.send_msg_bttn{
    background: none repeat scroll 0 0 #2BB0D0;
    border: medium none;
    border-radius: 3px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 0 0;
    outline: medium none;
    padding: 8px 28px;
}
.message_main {
    margin: 0;
    padding: 0 0 100px;
}
.msg_inner{
	border:none;
	margin:20px 0 0 0;
}
.msg_rght_img {
    float: right;
    margin: 0 20% 0 0;
}
/*-----------------my friend info---------------*/
.info_hding{
	color:#2e8ba1;
	font-size:20px;
	font-family:Arial, Helvetica, sans-serif;	
}
.frnd_info_parah{
	color:#7d7d7d;
	line-height:22px;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	padding:0 0 40px 0;	
}
.info_main {
    margin: 0 auto;
    padding: 0;
    width: 97%;
}
.frnd_profile{
	margin:15px 0;
}
.requests{
	margin-bottom:20px;
}

/*.mating li:hover{ background-color:#0CF}
.treeInlineEdit > input
{
    font-size: 1.5em;
    min-width: 10em;
    min-height: 2em;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border: 0px solid #ffffff;
}*/
.ContextItem    
        {
            background-color:White;
            color:Black;
            font-weight:normal;
            
            }
     .ContextItem:hover   
       {
            background-color:#0066FF;
            color:White;
            font-weight:bold;            
        }
       .detailItem
       {
           background:transparant;
           
       }
       .detailItem:hover
       {
           background-color:#FEE378;
           border: 1px outset #222222;
           font-weight:bold;
           cursor:default;
       }
	   .right_event{ float:left; width: 138px;
background: #fafafa; border:1px solid #ccc; border-radius:3px;-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75); margin:0px; padding:0px;}
.right_event li{ width:calc(100% - 10px); float:left; padding:5px; border-bottom:1px solid #ccc; list-style:none;}
.right_event li a{ color:#999; text-decoration:none; font-family:Arial, Helvetica, sans-serif}
.fa_me{ margin-right:10px;}
#text_me{ border: none; outline:none}
input.borders {
    border:1px solid #ccc !important;
}
.fn_btn1_dev input{/* border: none; outline:none*/}
.message{ top:41px !important}

.attach_file {text-indent: -99999px; background:#000; width:16px; height:16px; position:relative; top:25px; right:25px; background:url(../images/attach_files.png) no-repeat; cursor:pointer;}
.folder{float:left;width:92%;}
.folder a{cursor:pointer}

.delete-icon{float:left;width:5%;margin-top:22px;}
.content_main{ width:100%}
.cont_left{float: left; margin: 19px 0px 0px; width: 25%; color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium; line-height: normal; background-color: rgb(244, 244, 244);}
.cont_left img{ width:100%; height:auto}
.cont_rgt{float: right; width: 705.59375px; color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium; line-height: normal; background-color: rgb(244, 244, 244);}
.btna{ float:right;}
.control-label{ float:left; width:100%}
.fn_btn1_dev  a{ text-decoration:none; color:#4c4c4c;}
.text-info{ float:left;cursor: pointer;}
.mew{ float:none !important; margin-left:10px; margin-top:-4px; position:relative; top:-2px}

.record thead{
	height: 50px;
}

table{
	text-align: center;
	border: 0.5px solid rgb(209, 209, 209);
}

.record{
	width: 99.9%;
	float: left;
	font-family: "Lato-Reg";
	border-right: 1px solid rgb(160, 157, 157);
	border-bottom: 1px solid rgb(160, 157, 157);
}

.record table thead tr th{
	width: 320px;
}

.record table tr {
	height: 40px;
}

.record table thead tr th {
	color:#42BAD7;
	font-size: 18px;
	background-color: #F4F4F4;
	/*font-family: "Lato-Reg";*/
}

.record  a{
	color: rgb(85, 85, 85);
}


/*.record  thead tr  th:last-child{
	width: 50px;
}*/


.loading {
	position: fixed;
	top: 0;
	bottom: 0;
	/*display: initial;*/
	background:url(../images/loading_blue.gif) no-repeat center center;
	width: 100%;
	left: 0;
	height: 100%;
	z-index: 1000;
	background-color:rgba(255, 255, 255, 0.87);
}

.filler_container{
	width: 100% !important;
	float: left;
	background-color: #42BAD7;
	height: 60px;
	font-family: "Lato-Reg";
}

.filler_container label {
	width: 60px;
	float: left;
	height: 60px;
	color: #fff;
	line-height: 60px;
	margin-left: 10px;
}

.filler_containerselect, select {
	border-radius: 0px;
	border-color: rgb(169, 169, 169);
	height: 32px;
	float: left;
	margin-top: 14px;
	width: 70px;
	border: none;
}

.search_panel{
	width: 61%;
	float: right;
	text-align: right;
}

.search_panel> img {
	left: 32px;
	position: absolute;
	top: 22px;
}


.search_panel label{
	width: 100px;
	float: left;
	height: 60px;
	color: #fff;
	line-height: 60px;
}

.search_panel input[type="text"] {
	width: 46%;
	float: left;
}


@media(max-width: 767px) and (min-width: 480px){
	.search_panel label {
		width: 20%;
	}

	
	.search_panel {
		width: 54% !important;
}

}

@media(max-width: 480px){
	
.filler_container {
    height: 100%;
}

.filler_container label {
    width: 28%
  }

  .search_panel label {
   width: 28%;
	text-align: left;
	}

	.search_panel {
		width: 100% !important;
	}
	
	.search_panel .cf {
		margin: 14px 0 19px 0px;
	}
	
}

.calendar_date					{ font-family : Verdana, Arial, Helvetica, sans-serif; font-size : 14px; color : #222222; }
a.calendar_date					{ color: #0000aa; text-decoration: none; }
a.calendar_date:hover			{ color: #000080; text-decoration: underline; }

.calendar_navigation			{ font-family : Verdana, Arial, Helvetica, sans-serif; font-size : 14px; color : #222222; }
a.calendar_navigation			{ color: #0000aa; text-decoration: none; }
a.calendar_navigation:hover		{ color: #000080; text-decoration: underline; }

.calendar_day					{ font-family : Verdana, Arial, Helvetica, sans-serif; font-size : 11px; color : #222222; }
a.calendar_day					{ color: #0000aa; text-decoration: none; }
a.calendar_day:hover			{ color: #000080; text-decoration: underline; }

.calendar_date_number			{ font-family : Verdana, Arial, Helvetica, sans-serif; font-size : 10px; color : #222222; }
a.calendar_date_number			{ color: #0000aa; text-decoration: none; }
a.calendar_date_number:hover	{ color: #000080; text-decoration: underline; }

.calendar_date_small					{ font-family : Verdana, Arial, Helvetica, sans-serif; font-size : 12px; color : #222222; }
a.calendar_date_small					{ color: #0000aa; text-decoration: none; }
a.calendar_date_small:hover			{ color: #000080; text-decoration: underline; }

.calendar_navigation_small			{ font-family : Verdana, Arial, Helvetica, sans-serif; font-size : 12px; color : #222222; }
a.calendar_navigation_small			{ color: #0000aa; text-decoration: none; }
a.calendar_navigation_small:hover		{ color: #000080; text-decoration: underline; }

.calendar_day_small					{ font-family : Verdana, Arial, Helvetica, sans-serif; font-size : 10px; color : #222222; }
a.calendar_day_small					{ color: #0000aa; text-decoration: none; }
a.calendar_day_small:hover			{ color: #000080; text-decoration: underline; }

.calendar_date_number_small			{ font-family : Verdana, Arial, Helvetica, sans-serif; font-size : 9px; color : #222222; }
a.calendar_date_number_small			{ color: #0000aa; text-decoration: none; }
a.calendar_date_number_small:hover	{ color: #000080; text-decoration: underline; }

table.rounded td 		{ -moz-border-radius: 10px 10px 10px 10px; }
table.rounded5 td 		{ -moz-border-radius: 5px 5px 5px 5px; }
table.notrounded td 		{ -moz-border-radius: 0px 0px 0px 0px; }

.text					{ font-family : Verdana, Arial, Helvetica, sans-serif; font-size : 13px; color : #222222; }
a.text					{ color: #0000aa; text-decoration: none; }
a.text:hover			{ color: #222222; text-decoration: underline; }



/*add task report container*/

.task_container{
	width: 100%;
	float: left;
	min-height: 40px;
	/*line-height: 40px;*/
}

.task_container label {
	width: 20%;
	float: left;
}



.task_container input[type="text"] {
	width: 60%;
	float: left;
	height: 20px;
	padding: 5px;
}

.task_container input[type="submit"] {
	margin-top: 10px;
	padding: 7px 20px;
	color: #fff;
	background-color: #42BAD7;
	border: none;
	cursor: pointer;
}

.task_container textarea{
	width: 60%;
	float: left;
	height: 67px;
	padding: 5px;
}

.task_report{
	width: 266px;
	/*background-color: #D5D5D5;
	height: 300px;*/
	padding: 15px;
	float: left;
	border: 1px solid rgb(179, 177, 177);
	margin-top: 5px;
}

.task_report ol{
	padding-left: 25px;
	margin-top: 0;
}

.task_report ol li{
	list-style: inherit;
	font-size: 15px;
}


.task_report h1 {
	font-family: "Lato-Reg";
	font-size: 18px;
	text-align: left;
	line-height: normal;
	padding: 0;
	margin: 0;
	font-weight: 600;
	margin-bottom: 20px;
	color: #42BAD7;
}

.ui-dialog .ui-dialog-content {
	position: relative;
	border: 0;
	padding: 0 !important; 
	background: none;
	overflow: auto;
}


.task_report p {
	font-size: 14px;
}

.deletes-icon {
	float: right;
	font-style: normal;
	background-color: rgb(247, 25, 43);
	padding: 4px;
	width: 20px;
	font-size: 20px;
	color: #fff;
	border-radius: 53px;
	height: 20px;
	line-height: 15px;
	text-align: center;
	cursor: pointer;
}


.deletes-icon:hover {
	background-color: rgb(138, 138, 138);
}

.profile_container{
	width: 50%;
	float: left;
}


.profile_container .profile_pic {
	float: left;
	width: 32.3%;
}

.calender_container{
	width: 31%;
	float: right;
}

.border_saprator{
	width: 100%;
	float: left;
	border-bottom: 1px solid rgba(128, 128, 128, 0.21);
	padding-bottom: 20px;
}

.delet_icons{
	width: 11%;
	float: left;
	text-align: center;
	margin-top: 25px;
	background-color: #F5F5F5;
	padding: 5px 5px;
}


.delet_icons a{
	color: #000;
}


.delet_icons:hover{
	color: #fff;
	background-color: #42BAD7;
}


@media(max-width: 480px){

.delet_icons{
	width: 13%;
	margin-bottom:10px;	
}

.footer .one_fifth1 {
	width: 94% !important;
}

}


@media(max-width: 767px){

.profile_container, .calender_container  {
	width: 100% !important;
	margin-bottom: 20px;
	
}


}


.message-1{
	margin-top: 10px;
	width: 60%;
	float: left;
}
