/*
* Css for the flags
*
*/

.mainMenuLang {
    top: 5px !important;
    left: 1px !important;
}

.x-form-field-wrap .flags {
    top: 6px !important;
    left: 5px !important;
}

.flags {
    background: url(./img/flags/flags.png) no-repeat top left;
    width: 16px !important;
    height: 11px !important;
}

.flag-ad { background-position: 0 0 !important; } 
.flag-ae { background-position: 0 -12px !important; } 
.flag-af { background-position: 0 -24px !important; } 
.flag-ag { background-position: 0 -36px !important; } 
.flag-ai { background-position: 0 -48px !important; } 
.flag-al { background-position: 0 -60px !important; } 
.flag-am { background-position: 0 -72px !important; } 
.flag-an { background-position: 0 -84px !important; } 
.flag-ao { background-position: 0 -96px !important; } 
.flag-ar { background-position: 0 -108px !important; } 
.flag-ar2 { background-position: 0 -120px !important; } 
.flag-as { background-position: 0 -132px !important; } 
.flag-at { background-position: 0 -144px !important; } 
.flag-au { background-position: 0 -156px !important; } 
.flag-aw { background-position: 0 -168px !important; } 
.flag-ax { background-position: 0 -180px !important; } 
.flag-az { background-position: 0 -192px !important; } 
.flag-ba { background-position: 0 -204px !important; } 
.flag-bb { background-position: 0 -216px !important; } 
.flag-bd { background-position: 0 -228px !important; } 
.flag-be { background-position: 0 -240px !important; } 
.flag-bf { background-position: 0 -252px !important; } 
.flag-bg { background-position: 0 -264px !important; } 
.flag-bh { background-position: 0 -276px !important; } 
.flag-bi { background-position: 0 -288px !important; } 
.flag-bj { background-position: 0 -300px !important; } 
.flag-bm { background-position: 0 -312px !important; } 
.flag-bn { background-position: 0 -324px !important; } 
.flag-bo { background-position: 0 -336px !important; } 
.flag-bs { background-position: 0 -348px !important; } 
.flag-bt { background-position: 0 -360px !important; } 
.flag-bv { background-position: 0 -372px !important; } 
.flag-bw { background-position: 0 -384px !important; } 
.flag-by { background-position: 0 -396px !important; } 
.flag-bz { background-position: 0 -408px !important; } 
.flag-ca { background-position: 0 -420px !important; } 
.flag-catalonia { background-position: 0 -432px !important; } 
.flag-cc { background-position: 0 -444px !important; } 
.flag-cd { background-position: 0 -456px !important; } 
.flag-cf { background-position: 0 -468px !important; } 
.flag-cg { background-position: 0 -480px !important; } 
.flag-ch { background-position: 0 -492px !important; } 
.flag-ci { background-position: 0 -504px !important; } 
.flag-ck { background-position: 0 -516px !important; } 
.flag-cl { background-position: 0 -528px !important; } 
.flag-cm { background-position: 0 -540px !important; } 
.flag-cn { background-position: 0 -552px !important; } 
.flag-co { background-position: 0 -564px !important; } 
.flag-cr { background-position: 0 -576px !important; } 
.flag-cs { background-position: 0 -588px !important; } 
.flag-cu { background-position: 0 -600px !important; } 
.flag-cv { background-position: 0 -612px !important; } 
.flag-cx { background-position: 0 -624px !important; } 
.flag-cy { background-position: 0 -636px !important; } 
.flag-cz { background-position: 0 -648px !important; } 
.flag-da { background-position: 0 -660px !important; } 
.flag-de { background-position: 0 -672px !important; } 
.flag-dj { background-position: 0 -684px !important; } 
.flag-dm { background-position: 0 -696px !important; } 
.flag-do { background-position: 0 -708px !important; } 
.flag-dz { background-position: 0 -720px !important; } 
.flag-ec { background-position: 0 -732px !important; } 
.flag-ee { background-position: 0 -744px !important; } 
.flag-eg { background-position: 0 -756px !important; } 
.flag-eh { background-position: 0 -768px !important; } 
.flag-el { background-position: 0 -780px !important; } 
.flag-en { background-position: 0 -792px !important; } 
.flag-england { background-position: 0 -804px !important; } 
.flag-er { background-position: 0 -816px !important; } 
.flag-es { background-position: 0 -828px !important; } 
.flag-et { background-position: 0 -840px !important; } 
.flag-europeanunion { background-position: 0 -852px !important; } 
.flag-fa { background-position: 0 -864px !important; } 
.flag-fam { background-position: 0 -876px !important; } 
.flag-fi { background-position: 0 -888px !important; } 
.flag-fj { background-position: 0 -900px !important; } 
.flag-fk { background-position: 0 -912px !important; } 
.flag-fm { background-position: 0 -924px !important; } 
.flag-fo { background-position: 0 -936px !important; } 
.flag-fr { background-position: 0 -948px !important; } 
.flag-ga { background-position: 0 -960px !important; } 
.flag-gd { background-position: 0 -972px !important; } 
.flag-ge { background-position: 0 -984px !important; } 
.flag-gf { background-position: 0 -996px !important; } 
.flag-gh { background-position: 0 -1008px !important; } 
.flag-gi { background-position: 0 -1020px !important; } 
.flag-gl { background-position: 0 -1032px !important; } 
.flag-gm { background-position: 0 -1044px !important; } 
.flag-gn { background-position: 0 -1056px !important; } 
.flag-gp { background-position: 0 -1068px !important; } 
.flag-gq { background-position: 0 -1080px !important; } 
.flag-gs { background-position: 0 -1092px !important; } 
.flag-gt { background-position: 0 -1104px !important; } 
.flag-gu { background-position: 0 -1116px !important; } 
.flag-gw { background-position: 0 -1128px !important; } 
.flag-gy { background-position: 0 -1140px !important; } 
.flag-he { background-position: 0 -1152px !important; } 
.flag-hk { background-position: 0 -1164px !important; } 
.flag-hm { background-position: 0 -1176px !important; } 
.flag-hn { background-position: 0 -1188px !important; } 
.flag-hr { background-position: 0 -1200px !important; } 
.flag-ht { background-position: 0 -1212px !important; } 
.flag-hu { background-position: 0 -1224px !important; } 
.flag-id { background-position: 0 -1236px !important; } 
.flag-ie { background-position: 0 -1248px !important; } 
.flag-in { background-position: 0 -1260px !important; } 
.flag-io { background-position: 0 -1272px !important; } 
.flag-iq { background-position: 0 -1284px !important; } 
.flag-is { background-position: 0 -1296px !important; } 
.flag-it { background-position: 0 -1308px !important; } 
.flag-ja { background-position: 0 -1320px !important; } 
.flag-jm { background-position: 0 -1332px !important; } 
.flag-ke { background-position: 0 -1344px !important; } 
.flag-kg { background-position: 0 -1356px !important; } 
.flag-kh { background-position: 0 -1368px !important; } 
.flag-ki { background-position: 0 -1380px !important; } 
.flag-km { background-position: 0 -1392px !important; } 
.flag-kn { background-position: 0 -1404px !important; } 
.flag-kp { background-position: 0 -1416px !important; } 
.flag-kr { background-position: 0 -1428px !important; } 
.flag-kw { background-position: 0 -1440px !important; } 
.flag-ky { background-position: 0 -1452px !important; } 
.flag-kz { background-position: 0 -1464px !important; } 
.flag-la { background-position: 0 -1476px !important; } 
.flag-lb { background-position: 0 -1488px !important; } 
.flag-lc { background-position: 0 -1500px !important; } 
.flag-li { background-position: 0 -1512px !important; } 
.flag-lk { background-position: 0 -1524px !important; } 
.flag-lr { background-position: 0 -1536px !important; } 
.flag-ls { background-position: 0 -1548px !important; } 
.flag-lt { background-position: 0 -1560px !important; } 
.flag-lu { background-position: 0 -1572px !important; } 
.flag-lv { background-position: 0 -1584px !important; } 
.flag-ly { background-position: 0 -1596px !important; } 
.flag-ma { background-position: 0 -1608px !important; } 
.flag-mc { background-position: 0 -1620px !important; } 
.flag-md { background-position: 0 -1632px !important; } 
.flag-me { background-position: 0 -1644px !important; } 
.flag-mg { background-position: 0 -1657px !important; } 
.flag-mh { background-position: 0 -1669px !important; } 
.flag-mk { background-position: 0 -1681px !important; } 
.flag-ml { background-position: 0 -1693px !important; } 
.flag-mm { background-position: 0 -1705px !important; } 
.flag-mn { background-position: 0 -1717px !important; } 
.flag-mo { background-position: 0 -1729px !important; } 
.flag-mp { background-position: 0 -1741px !important; } 
.flag-mq { background-position: 0 -1753px !important; } 
.flag-mr { background-position: 0 -1765px !important; } 
.flag-ms { background-position: 0 -1777px !important; } 
.flag-mt { background-position: 0 -1789px !important; } 
.flag-mu { background-position: 0 -1801px !important; } 
.flag-mv { background-position: 0 -1813px !important; } 
.flag-mw { background-position: 0 -1825px !important; } 
.flag-mx { background-position: 0 -1837px !important; } 
.flag-my { background-position: 0 -1849px !important; } 
.flag-mz { background-position: 0 -1861px !important; } 
.flag-na { background-position: 0 -1873px !important; } 
.flag-nc { background-position: 0 -1885px !important; } 
.flag-ne { background-position: 0 -1897px !important; } 
.flag-nf { background-position: 0 -1909px !important; } 
.flag-ng { background-position: 0 -1921px !important; } 
.flag-ni { background-position: 0 -1933px !important; } 
.flag-nl { background-position: 0 -1945px !important; } 
.flag-no { background-position: 0 -1957px !important; } 
.flag-np { background-position: 0 -1969px !important; } 
.flag-nr { background-position: 0 -1981px !important; } 
.flag-nu { background-position: 0 -1993px !important; } 
.flag-nz { background-position: -17px 0 !important; } 
.flag-om { background-position: -17px -12px !important; } 
.flag-pa { background-position: -17px -24px !important; } 
.flag-pe { background-position: -17px -36px !important; } 
.flag-pf { background-position: -17px -48px !important; } 
.flag-pg { background-position: -17px -60px !important; } 
.flag-ph { background-position: -17px -72px !important; } 
.flag-pk { background-position: -17px -84px !important; } 
.flag-pl { background-position: -17px -96px !important; } 
.flag-pm { background-position: -17px -108px !important; } 
.flag-pn { background-position: -17px -120px !important; } 
.flag-pr { background-position: -17px -132px !important; } 
.flag-ps { background-position: -17px -144px !important; } 
.flag-pt { background-position: -17px -156px !important; } 
.flag-pt_BR { background-position: -17px -168px !important; } 
.flag-pw { background-position: -17px -180px !important; } 
.flag-py { background-position: -17px -192px !important; } 
.flag-qa { background-position: -17px -204px !important; } 
.flag-re { background-position: -17px -216px !important; } 
.flag-ro { background-position: -17px -228px !important; } 
.flag-rs { background-position: -17px -240px !important; } 
.flag-ru { background-position: -17px -252px !important; } 
.flag-rw { background-position: -17px -264px !important; } 
.flag-sa { background-position: -17px -276px !important; } 
.flag-sb { background-position: -17px -288px !important; } 
.flag-sc { background-position: -17px -300px !important; } 
.flag-scotland { background-position: -17px -312px !important; } 
.flag-sd { background-position: -17px -324px !important; } 
.flag-se { background-position: -17px -336px !important; } 
.flag-sg { background-position: -17px -348px !important; } 
.flag-sh { background-position: -17px -360px !important; } 
.flag-sj { background-position: -17px -372px !important; } 
.flag-sk { background-position: -17px -384px !important; } 
.flag-sl { background-position: -17px -396px !important; } 
.flag-sl_ { background-position: -17px -408px !important; } 
.flag-sm { background-position: -17px -420px !important; } 
.flag-sn { background-position: -17px -432px !important; } 
.flag-so { background-position: -17px -444px !important; } 
.flag-sr { background-position: -17px -456px !important; } 
.flag-st { background-position: -17px -468px !important; } 
.flag-sv_ { background-position: -17px -480px !important; } 
.flag-sy { background-position: -17px -492px !important; } 
.flag-sz { background-position: -17px -504px !important; } 
.flag-tc { background-position: -17px -516px !important; } 
.flag-td { background-position: -17px -528px !important; } 
.flag-tf { background-position: -17px -540px !important; } 
.flag-tg { background-position: -17px -552px !important; } 
.flag-th { background-position: -17px -564px !important; } 
.flag-tj { background-position: -17px -576px !important; } 
.flag-tk { background-position: -17px -588px !important; } 
.flag-tl { background-position: -17px -600px !important; } 
.flag-tm { background-position: -17px -612px !important; } 
.flag-tn { background-position: -17px -624px !important; } 
.flag-to { background-position: -17px -636px !important; } 
.flag-tr { background-position: -17px -648px !important; } 
.flag-tt { background-position: -17px -660px !important; } 
.flag-tv { background-position: -17px -672px !important; } 
.flag-tw { background-position: -17px -684px !important; } 
.flag-tz { background-position: -17px -696px !important; } 
.flag-ua { background-position: -17px -708px !important; } 
.flag-uk { background-position: -17px -708px !important; }  
.flag-ug { background-position: -17px -720px !important; } 
.flag-um { background-position: -17px -732px !important; } 
.flag-us { background-position: -17px -744px !important; } 
.flag-uy { background-position: -17px -756px !important; } 
.flag-uz { background-position: -17px -768px !important; } 
.flag-va { background-position: -17px -780px !important; } 
.flag-vc { background-position: -17px -792px !important; } 
.flag-ve { background-position: -17px -804px !important; } 
.flag-vg { background-position: -17px -816px !important; } 
.flag-vi { background-position: -17px -828px !important; } 
.flag-vn { background-position: -17px -840px !important; } 
.flag-vu { background-position: -17px -852px !important; } 
.flag-wales { background-position: -17px -864px !important; } 
.flag-wf { background-position: -17px -876px !important; } 
.flag-ws { background-position: -17px -888px !important; } 
.flag-ye { background-position: -17px -900px !important; } 
.flag-yt { background-position: -17px -912px !important; } 
.flag-za { background-position: -17px -924px !important; } 
.flag-zh { background-position: -17px -936px !important; } 
.flag-zm { background-position: -17px -948px !important; } 
.flag-zw { background-position: -17px -960px !important; } 
